{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

<div id="contenu">
    <div class="box">
    <div class="box-body">
        <h3>Prépration de l'inventaire</h3>
        <a href="{{ path('inventory_exportation_kdc') }}" class="btn btn-primary" ><i class="fa fa-file-excel"></i> Exporter au format tableur pour KDC</a>
        <a href="{{ path('inventory_exportation_ods') }}" class="btn btn-primary" ><i class="fa fa-file-excel"></i> Exporter au format tableur ODS</a>

        <h3>Importation de l'inventaire</h3>
        <a href="{{ path('inventory_import') }}" class="btn btn-warning" ><i class="fa fa-file-excel"></i> Importer le fichier compilé pour calcul inventaire</a>
        <h3>Exportation et calcul des resultats</h3>
        <a href="{{ path('inventory_result') }}" class="btn btn-success" ><i class="fa fa-file-excel"></i> Afficher le resultat de l'inventaire</a>

    </div>

   </div>
</div>
{% endblock %}
