{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

<div id="contenu">
    <div class="box">
    <div class="box-body">
        <h3>Résultat de l'inventaire</h3>
        <div class="p-3 mb-2 h2 bg-success text-white font-weight-bolder text-center">  {{ total_ttc|format_currency('EUR') }}</div>




        <table class="table table-striped" id="tableau_inventaire">
            <thead>
                <tr role="row">
                    <th>code barre</th>
                    <th>Libellé</th>
                    <th>Prix d'achat</th>
                    <th>Prix de vente HT</th>
                    <th>Prix de vente TTC</th>
                    <th>Taxe</th>
                    <th>Quantité</th>
                    <th>Total HT</th>
                </tr>
            </thead>
            <tbody>

            {% for cat,tab_prod in tab_produit %}
            <tr>
                <td class="categorie" colspan="8">{{ cat }}</td>
            </tr>
            {% for produit in tab_prod %}
                <tr>
                    <td>{{ produit['code_barre'] }}</td>
                    <td>{{ produit['name'] }}</td>
                    <td>{{ produit['prix_achat'] }}</td>
                    <td>{{ produit['prix_vente'] }}</td>
                    <td>{{ produit['prix_vente_ttc'] }}</td>
                    <td>{{ produit['taxe'] }}</td>
                    <td>{{ produit['quantite'] }}</td>
                    <td>{{ produit['total_ht'] }}</td>
                </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>


    </div>

   </div>
</div>
{% endblock %}
