{% extends 'base_basic.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}

    <div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
    <div class="panel-heading">
        <h3 class="panel-title">Choose a new password, {{ user.nom }}</h3>
    </div>
    <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}
        {% include('inclure/form.html.twig') %}
    </div>
    </div>
</div>
</div>

{% endblock %}