{% extends 'base_basic.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <img src="{{ asset('assets/images/login.png') }}" alt="{{ application_nom }}" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body ">
            <p class="login-box-msg">
                {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
                {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}">
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans|raw }}
            </div>
            {% endfor %}
            {% endfor %}

            </p>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" novalidate class="form-vertical">
                {% form_theme form with ['bootstrap_4_layout.html.twig'] %}
                {{ form_widget(form) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <div class="d-inline-block">
                    <button class="btn btn-primary  " type="submit">{{ 'connection'|trans }}</button>
                </div>
                <div class="checkbox_remember d-inline-block p-1">
                    <label for="remember_me">
                        <input type="checkbox"  id="remember_me"  name="_remember_me"  /> {{ 'mot_de_passe_souvenir'|trans }}
                    </label>
                </div>
            </form>
        </div>
        <div class="mdpp"><a href="{{ path('motdepasseperdu') }}">{{ 'mot_de_passe_oubli'|trans }}</a></div>
    </div>
{% endblock %}
