{% extends 'base_basic.html.twig' %}

{% block title %}Mot de passe perdu?{% endblock %}

{% block content %}


    <div class="login-box" >
    <div class="login-box-body">

    <div class="panel p-3">
    <div class="panel-heading">
        <h3 class="panel-title">Mot de passe perdu?</h3>
    </div>
    <div class="panel-body">
        <p>
            {% trans %} mot_de_passe_perdu_message {% endtrans %}
        </p>
        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}
        <form class="form-vertical" method="POST" >
            <div class="form-group">
                <label class="control-label" for="inputEmail">Mon adresse mail</label>
                <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Envoi des instructions de réinitialisation</button>

            </div>

        </form>
        <div class="form-group">

            <hr/>
            Si vous ne recevez pas un courriel dans quelques petites minutes, vérifiez dans le dossier pourriels.
            L'expéditeur est  <strong>{{ fromAddress }}</strong>.



        </div>
    </div>
    </div>

    </div>
        <div>
            <a href="{{ path('login') }}" class="mt-5" >Retour à l'accueil</a>
        </div>

</div>


{% endblock %}