<style type="text/css">
    <!--




    body {
        position: relative;
        font-family: 'Ubuntu', cursive;
        font-size:11px;
        margin: 0;
        padding: 0;

    }




    .page {
        position:relative;
        margin: 0;
        padding: 0;

    }

    .nouvelle_page {
        page-break-before: always;
        margin-left: 0;
        padding: 0;
        position:relative;
    }

    .content {
        position:relative;
        padding:0;
    }


    .fond-gris {
        text-align: center;
        background-color: #444;
        color: #ffffff;
        font-weight: bold;
        padding: 2mm;
        font-size:1.1em;
        text-transform:uppercase;
    }
    .espaceur{
      padding:0.5em ;

    }

    .nom{
        font-size:1.1em;

    }
    .adherent{
        padding :0.5em 0;

    }

    .carte_adherent{
        font-size:10px;
        margin-right: 10px;
    }
    b{
        font-weight: 700;

    }
    img {
        margin-left: 10px;
        margin-bottom: 10px;
    }


    .logo_petit{  width: 10mm;
        margin-right: 1em;}
    .logo_petit img{  width: 10mm;}

    .corp{
        position:relative;
        paddiing: 5mm;
    }

    .heure{ width: 20mm; }


    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group  }
    tfoot { display:table-footer-group }
    td {vertical-align: top;padding:4px 2px; text-align:justify;line-height: 1.5;}
    th {padding:2px;}


    .sans_marge{line-height: 1.1; margin:0;padding:0;}
    hr.hachure{ border: 2px #333 dashed;}
    .largeur50{width:50%}

    {% if css is defined %}
        {{ css }}
    {% endif %}


    .fond-gris{
        background-color: black;
        color:white;

    }

    .en_gros{font-size: 2.5em;padding:0.25em 0.5em;}
    .en_gros span{font-size: 0.8em; line-height: 1;}
    .prix_au_kilo {font-size: 1em; line-height: 1;}
    .prix_au_kilo span{font-size: 0.8em;}
    .plus_petit{ font-size :0.9em}
    .category{ font-size :0.9em}
    .right{float: right;text-align:right;}




    -->
</style>









