<div class="fond-gris{%if product.label|length > 20  %} plus_petit{% endif %}">{{product.label}}</div>
{% set price = product.getTaxedPrice|split('.') %}
<div class="right en_gros">{{price[0]}}{%if price[1] %}{% set centime = price[1] %}{%if centime|length == 1 %}{% set centime = centime~'0' %}{% endif %}.<span>{{centime}}</span>{% endif %}€</div>
<div class="category">{{product.category.label}}</div>
<div class="barcode">{{barcode}}</div>