<div class="fond-gris{%if product.label|length > 20  %} plus_petit{% endif %}">{{product.label}}</div>

<div class="right">
    <div class="en_gros">
        {% set price = product.getTaxedPrice|split('.') %}
        {{price[0]}}{%if price[1] %}{% set centime = price[1] %}{%if centime|length == 1 %}{% set centime = centime~'0' %}{% endif %}<span>.{{centime}} </span>
        {% endif %} €
    </div>
    {% if product.scaled %}
        {% if product.scaleType %}{% if product.scaleType==1 %} le kilo {% else %} le litre {% endif %}{% endif %}
    {% else %}
    {% if product.getTaxedPriceKg %}
    {% set price_kg = product.getTaxedPriceKg|split('.') %}
    <div class="prix_au_kilo">
    <small>soit {{price_kg[0]}}{%if price_kg[1] %}{% set centime = price_kg[1] %}{%if centime|length == 1 %}{% set centime = centime~'0' %}{% endif %}.<span>{{centime}}</span>{% endif %} €  {% if product.scaleType %}{% if product.scaleType==1 %} le kilo {% else %} le litre {% endif %}{% endif %}</small>
    </div>
    {% endif %}
    {% endif %}
</div>
<div class="category">{{product.category.label}}</div>
<div class="barcode">{{barcode}}</div>