#filtre_en_cours{
  margin :0.25em 1em 0;
  min-height:70px;
  vertical-align:top;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select : none;
  #btn_selection{ margin-right:0.5em; }
  .titre{ font-size:0.9em;float:left;margin :0.5em 1em;}
  .titre_ko{ color:$gray-300;}
  ul{margin : 0;
    li{cursor: pointer;
      padding : 0.5em 1em; margin:0 0.25em 2em;border-top:$success 1px solid ;
    }
    li:hover{background-color:$success;
    }
  }
}


.menu_filtres{
  position:relative;
  .navbar-left{ padding-right: 1em;}
  input.form-control{ height: 34px;}
  .navbar-nav > li .form-group label{
    padding-top:0.25em;
    margin:0;
  }
  .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{ color:white; }

  ul.menu {
    display:inline-block;
    margin: 0 1em;
    font-size:1.1em;

    > li.list-inline-item {
      padding: 0.5em 1em;
      cursor: pointer;
      border-bottom: 3px solid transparent;
    }
    li.list-inline-item.on {
      border-top: 2px solid $success;
    }
    li.list-inline-item:hover {
      border-bottom: 1px solid $success;
    }

  }




  .panneau {
    display: none;
    padding:2em 1em;
    clear:left;

    margin-bottom:0;
    background-color: $gray-100;
    .souscat {
      font-size: 1.1em;
      font-weight: bold;
    }
    .btn-validation{margin-top:2em;margin-left:1em;}

    .form-group {
      margin: 0.5em 0;
    }
    .form-check{
      display: inline-block;
    }

    label{
      display: block; font-weight: normal;font-size: 0.9em;
      color: $gray-600; margin:0;}

    ul  {display:block;float:none;}

    ul.list-expanded {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      li{ cursor:pointer;user-select : none;}
      li:hover {
        background-color: $warning;
      }
      li.on {
        background-color: $danger; color:white;
      }
    }

    ul.list-inline {
      li {
        padding: 0.15em 0.75em 0.15em 0.75em;border-radius: $border-radius-sm;
        margin:0.1em 0;
      }
    }

    ul.col {

      list-style: none;
      margin: 1em 0 ;
      padding:  0 ;
      li {
        display:inline-block;
        padding: 0.25em 0.5em ;
      }
    }


  }
}
