
//////////////////////////////////////////////////////////////////////////
///   grid
//////////////////////////////////////////////////////////////////////



.grid {

  margin-left:2em;
  .grid-sizer, .grid-item {
    width: 18%;
  }
  .gutter-sizer {
    width: 2%;
  }
  .grid-item {
    .item {
      min-height: 100px;
      background-color: white;
      margin-bottom: 1em;
      width: 100%;

      .panel{box-shadow:0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);}
      .panel-heading{position:relative;}
      .panel-body{margin-top:1.5em;}
      p.descriptif{margin:0.5em 0;}
      .ruban.nom{
        position:absolute;
        left: calc(-0.5rem - 0.5em);
        margin-right: -0.5em;
        margin-bottom: 1em;
        padding-left: 0.5em;
        padding-top:0.25em;
        padding-bottom:0.25em;
        padding-right: 0.5em;
        font-size: 1.2em;
        background-color: $primary !important;
        border-color: darken($primary,10%) !important;
        color: #fff !important;
      }
      .ruban.nom::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        background-color: transparent !important;
        border-style: solid;
        border-width: 0 0.5em 0.5em 0;
        border-color: transparent;
        border-right-color: inherit;
        width: 0;
        height: 0;
      }

      dl{
        dt{ color:$gray-300;font-size:0.9em;}
        dd{margin-bottom: 0.25em;font-size:0.95em;}
      }


	.info-box{
		margin:0;
		.info-box-icon{ width:60px; height:60px;margin-right:10px;margin-bottom:5px;line-height:60px;float:left;}
		.info-box-icon .ico{ font-size:3em;}
		.info-main{ margin-left: 70px;}
		.nom{ font-weight:bold;}
		.adresse{ font-size:0.9em;}
	}

	.panel-body{
		margin:0;
		padding:0;
		font-size:0.9em;
		.fa{ color:#999; }
	}
	
	.panel-heading{
		padding-bottom:0;
	}

      .info {
        padding: 10px;
      }

      .details {
        padding:0.5em 1em;
      }

      .descriptif_rapide {
        padding: 5px 5px;

      }

      .descriptif_rapide.on {
        background-color: #FAFAFA;
        cursor: n-resize;
      }

      .descriptif_rapide h3 {
        font-size: 1.3em;
        margin-top: 0px;
      }

      .btn_zoom { display:block;
        position : absolute;
        right:5px;
        top:5px;
        padding:5px;
        background-color: $success;
        color:white;
      }
    }
  }
  
  .info-box-image{float:left;width:60px;margin:0.25em;}

  
}

@media screen and (max-width: 1500px) {
  .grid {
    .grid-sizer, .grid-item {
      width: 23%;
    }

    .gutter-sizer {
      width: 1%;
    }
  }
}



@media screen and (max-width: 1000px) {
  .grid {
    .grid-sizer, .grid-item {
      width: 31%;
    }

    .gutter-sizer {
      width: 1%;
    }
  }
}

@media (max-width: 768px) {
  .grid {
    .grid-sizer, .grid-item {
      width: 100%;
    }
    .gutter-sizer {
      width: 0;
    }
  }
}
