.haut_de_table{
  margin:0.25em 1em;
  #nb_resultat{display: inline-block;padding-right: 2em;}
  #pagination_haute{display: inline-block;padding-right: 2em;}
  .select2{display: inline-block;}

}


.table caption + thead tr:first-child td, .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child th {
  border-top: 0 none;
}





//////////////////////////////////////////////////////////////////////////
///   Querybuilder
/////////////////////////////////////////////////////////////////////////

#liste_query{
  li{
    padding:0.5em 1em;
    border-bottom:1px $gray-300 solid;
    font-size:1.3em;
  }
  li:hover{
    background-color: $gray-100;
  }
}


//////////////////////////////////////////////////////////////////////////
///   Sortable
/////////////////////////////////////////////////////////////////////////


ul.sortable{
  li{
    padding:0.5em ;margin:0.25em 0; border-bottom:1px solid $gray-100;
    .bouts{ float:right;font-size:0.9em;margin-top:-0.5em;}
  }


}


