//////////////////////////////////////////////////////////////////////////
///   UPLOADER
/////////////////////////////////////////////////////////////////////////

.fileuploader{
  background-color: $white;
  position: relative;
  z-index: 3;
}

.ajax-file-upload-container{
  margin: 0;width: 100%;
  .ajax-file-upload-filename{
    width: 100%;
  }
  .ajax-file-upload-progress{
    width: 100%;
  }
}
