{% if tab_filtres['premier'] is defined %}
    <form class="form form-inline navbar-form">
        {% include 'inclure/filtres.html.twig' with {'filtres': tab_filtres['premier'],'affichage_label':false,'force_select':true,'class_filtre':'navbar-form navbar-left'} %}
    </form>
{% endif %}
{% if tab_filtres['second'] is defined %}
    <ul class="navbar-nav ">
        <li class="nav-item">
            <ul class="list-inline menu" >
                {% for titre,groupe_filtre in tab_filtres['second']  %}
                    <li  class="list-inline-item" data-href="{{ titre }}"  class="list-inline-item item-menu">{{ titre|trans }}</li>
                {% endfor %}
                {% if querybuilder is defined and querybuilder %}
                    <li class="list-inline-item">
                        <input type="hidden" id="query_num" name="query" value="" />
                        <input type="hidden" id="query_nom" value="" />
                        <a href="{{ path('querybuilder',{'objet': objet}) }}" class="btn btn-modal" id="modal_jquerybuilder" >
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endif %}
