{% set class_actif = 'label-default' %}
{% set il_action = 'Inscription' %}
{% set action = 'inscription' %}

{% if estInscrit %}

    {% set class_actif = 'label-primary' %}
    {% set il_action = 'Désinscription' %}
    {% set action = 'desinscription' %}

{% endif %}
<a id="bouton-inscription_{{ id }}_{{ idIndividu }}" href="{{ path('infolettre_'~action,{'idInfolettre':id,'idIndividu':idIndividu,'redirect':sac('url_courante'),'unique':true}) }}"
   class="label {{ class_actif }} ajaxjson_remplace" data-cible="#bouton-inscription_{{ id }}_{{ idIndividu }}"
   title="{{ il_action }}">{{ nom }}</a>