
<a class="btn btn-success" href="{{ btref }}">
	<i class="fa fa-plus">
		<span>{{ btlib|trans }}</span>
	</i>
</a>

<div class="btn-group" role="group" >
	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{ 'piece_ajout'|trans }}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
 {# todo mettre une boucle avec les valeurs de getListeEcranSaisie() #}
		<li><a href="{{ path('piece_form') }}">{{ 'piece_ajout'|trans }}</a></li>
		{#<li><a href="{{ path('piece_ac_form') }}">{{ 'piece_ac_ajout'|trans }}</a></li>#}
		<li>'autres modelés en préparation ventes encaissement, paiement, relevé de banque...'</li>
		{#<li><a href="{{ path('piece_ve_form') }}">{{ 'piece_ve_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_pa_form') }}">{{ 'piece_pa_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_re_form') }}">{{ 'piece_re_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_en_form') }}">{{ 'piece_en_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_ba_form') }}">{{ 'piece_ba_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_at_form') }}">{{ 'piece_at_ajout'|trans }}</a></li>#}
		{#<li><a href="{{ path('piece_vt_form') }}">{{ 'piece_vt_ajout'|trans }}</a></li>#}
	</ul>
</div>
{#'st'=>'Standard',#}
{#'ac'=>'Achats',#}
{#'at'=>'Achats tva',#}
{#'ve'=>'Ventes ',#}
{#'vt'=>'Ventes tva',#}
{#'pa'=>'paie',#}
{#'re'=>'reglement',#}
{#'en'=>'encaissement',#}
{#'ba'=>'relevé de banque'#}
