<button type="button" class="btn
    {% if action['class'] is defined %}
        {{ action['class'] }}
    {% endif %}
    "   data-toggle="modal"
        data-target="#{{ id }}
        ">
    {% if action['ico'] is defined %}
        <span class="{{ action['ico'] }}" aria-hidden="true"></span>
    {% endif %}

    {{ action['label'] }}
</button>
{% set js = '' %}
{% set options_js = '' %}
{% if action['js'] is  defined %}
    {% set js = action['js'] %}
{% endif %}
{% if action['js_options'] is  defined %}
    {% set options_js = action['js_options'] %}
{% endif %}
{% include 'inclure/modal.html.twig' with { 'id': id ,
         'titre':action['label'],
          'contenu':action['contenu'],
          'js':js,
          'js_options':options_js } %}
