<li class="level{{ level }}" id="licategory{{ category.id }}">
    <div>{{ category.label }}</div>
    {% for child in category.children %}
    <ul>
        {%  include('inclure/category_row_li.html.twig') with {'category':child, 'level':level+1} only  %}
        </ul>
        {% endfor %}
</li>