{% set nb_item =  0 %}
{% for nom_filtre,filtre in filtres %}
    {% set attr =''%}
    {% if filtre.attr is defined %}
        {% for i,v in filtre.attr  %}
            {% set attr = attr ~ ' '~ i ~'="'~ v ~'"' %}
        {% endfor %}
    {% endif %}
    {% set type='select' %}
    {% if filtre.type is defined %}
        {% set type = filtre.type %}
    {% endif %}
    {% set class='' %}
    {% if filtre.class is defined %}
        {% set class = filtre.class %}
    {% endif %}
    {% set label = filtre.nom %}
    {% if filtre.label is defined %}
        {% set label = filtre.label %}
    {% endif %}

    {% if affichage_label is not defined %}
        {% set affichage_label = true %}
    {% endif %}

    {% if force_select is not defined %}
        {% set force_select = false %}
    {% endif %}

    {% if class_filtre is not defined %}
        {% set class_filtre = "" %}
    {% endif %}

    <div class="navbar-form navbar-left {{ class_filtre }}" role="filtre">
        <div class="form-group {{ filtre.class_conteneur??'' }}">
            {% if type=='select' %}
                {% if filtre.nom is defined and affichage_label %}
                    <label for="{{ filtre.nom }}">{{ label|trans }}</label>
                {% endif %}
                {% set nom_champs = filtre.nom %}
                {% if f.groupe is defined %}
                    {% set nom_champs=f.groupe %}
                {% endif %}

                {% if filtre.options|length>20 or force_select or 'force_select' in class  or 'autocomplete' in class %}

                    {% set nb_item =  nb_item + 5 %}

                    <select style="width:200px;" class="form-control {{ class }}"
                            name="{{ nom_filtre }}{% if filtre.multiple is defined %}[]{% endif %}"
                            {% if filtre.multiple is defined %}multiple="multiple"{% endif %}
                            data-title="{{ filtre.title??nom_filtre|trans }}"
                            {% if not affichage_label %}data-placeholder="{{ filtre.placeholder??nom_filtre|trans }}"{% endif %}
                            {{ attr|raw }}
                    >
                        {% if filtre.multiple is not defined %}
                            <option value=""></option>
                        {% endif %}
                        {% for key,f in filtre.options %}
                            {% if f.libelle  is defined %}
                                <option
                                        {% if f.on is defined and f.on %}
                                            selected="selected"
                                        {% endif %}
                                        value="{{ f.valeur }}">
                                    {{ f.libelle }}
                                    {% if f.nb is defined %}
                                        <!-- <span class="badge"> {{ f.nb }}   </span>-->
                                    {% endif %}
                                </option>
                            {% else %}
                                <optgroup label="{{ key }}">{{ key }}
                                    {% for key2,f2 in f %}
                                        <option
                                                {% if f2.on is defined and f2.on %}
                                                    selected="selected"
                                                {% endif %}
                                                value="{{ f2.valeur }}">
                                            {{ f2.libelle }}
                                            {% if f2.nb is defined %}
                                                <!-- <span class="badge">{{ f2.nb }}</span>-->
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else  %}
                    <ul class="clearfix list-expanded list-unstyled  {{ class }}">
                        {% for key,f in filtre.options %}
                            {% if f.libelle  is defined %}
                                {% set nb_item =  nb_item + 1 %}
                                <li
                                        {% if f.on is defined and f.on==1 %}
                                            class="on"
                                        {% endif %}
                                        data-key="{{ nom_filtre }}"
                                        data-value="{{ f.valeur }}">
                                    {{ f.libelle }}
                                    {% if f.nb is defined %}
                                        <!-- <span class="badge"> {{ f.nb }}   </span>-->
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <ul label="{{ key }}">{{ key }}
                                        {% for key2,f2 in f %}
                                            <li
                                                    {% if f2.on is defined and f2.on %}
                                                        selected="selected"
                                                    {% endif %}
                                                    value="{{ f2.valeur }}">
                                                {{ f2.libelle }}
                                                {% if f2.nb is defined %}
                                                    <!-- <span class="badge">{{ f2.nb }}</span>-->
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

            {% elseif type=='select2_hierarchie' %}
                {% set nom_champs = filtre.nom %}
                {% if f.groupe is defined %}
                    {% set nom_champs=f.groupe %}
                {% endif %}
                <select style="width:200px;" class="form-control {{ class }}"
                        name="{{ nom_champs }}{% if filtre.multiple is defined %}[]{% endif %}"
                        {% if filtre.multiple is defined %}multiple="multiple"
                        {% endif %}
                        data-title="{{ filtre.title??nom_filtre|trans }}"
                        data-placeholder="{{ filtre.placeholder??nom_filtre|trans }}">
                    {% if filtre.multiple is not defined %}
                        <option value=""></option>
                    {% endif %}
                    {% for key,f in filtre.options %}
                        {% if f.libelle  is defined %}
                            <option
                                    {% if f.on is defined and f.on %}
                                        selected="selected"
                                    {% endif %} value="{{ f.valeur }}"
                                    {% if f.class is defined and f.class %}
                                class="{{ f.class }}"
                                    {% endif %}>
                                {{ f.libelle }}
                                {% if f.nb is defined %}
                                    <!-- <span class="badge"> {{ f.nb }}   </span>-->
                                {% endif %}
                            </option>
                        {% else %}
                            <optgroup label="{{ key }}">{{ key }}
                                {% for key2,f2 in f %}
                                    <option
                                            {% if f2.on is defined and f2.on %}
                                                selected="selected"
                                            {% endif %}
                                            value="{{ f2.valeur }}">
                                        {{ f2.libelle }}
                                        {% if f2.nb is defined %}
                                            <!-- <span class="badge">{{ f2.nb }}</span>-->
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                </select>
            {% elseif type=='switch' %}
                {% set nom_champs = filtre.nom %}
                {% if f.groupe is defined %}
                    {% set nom_champs=f.groupe %}
                {% endif %}
                {% for key,f in filtre.options %}
                    <label>
                        {{ f.libelle }}
                        {% if f.nb is defined %}
                            <!-- <span class="badge">
                        {{ f.nb }}
                        </span>-->
                        {% endif %}
                        <input type="radio" name="{{ nom_champs }}"
                                {% if f.on is defined and f.on %}
                                    checked="checked"
                                {% endif %}
                               data-title="{{ filtre.title??nom_filtre|trans }}"
                               value="{{ f.valeur }}" {{ attr|raw }}/>
                    </label>
                {% endfor %}
            {% elseif type=='checkbox' %}
                {% set nom_champs = filtre.nom %}
                {% for key,f in filtre.options %}
                    <label>
                        <input type="checkbox" name="{{ nom_champs }}"
                                {% if f.on is defined and f.on %}
                                    checked="checked"
                                {% endif %}
                                {% if class %}
                                    class="{{class}}"
                                {% endif %}
                               data-title="{{ filtre.title??nom_filtre|trans }}"
                               value="1" {{ attr|raw }}/>&nbsp;{{ f.libelle }}
                    </label>
                {% endfor %}
            {% elseif type=='text' %}
                {% if filtre.label is defined %}
                    {{ filtre.label|raw  }}
                {% else %}
                    <label for="filtre_{{ filtre.nom }}">
                        {{ filtre.nom|trans }}
                    </label>
                {% endif %}
                <input id="filtre_{{ filtre.id }}" type="text" name="{{ filtre.nom }}" data-title="{{ filtre.title??nom_filtre|trans }}" placeholder="{{ filtre.placeholder|trans }}"  value="{{ filtre.value }}" class="form-control {{ filtre.class }}" {{ attr|raw }}/>
            {% endif %}
        </div>
    </div>
    {% if nb_item  > 20 and not loop.last %}
        </div><div class="col-md-2">
        {% set nb_item  = 0 %}
    {% endif %}
{% endfor %}