{# Liste des paramètres

option : Type du bouton (préconfiguration css + icon ) 'ajoute' si non défini

nom : label du bouton
nomcplt : Texte présent un badge
url :  lien href
class : class de l'objet
class_cplt : class complémentaire de l'objet
wrap : enveloppe html
bt_texte : affichage du texte par defaut false
icone : icone du lien , par defaut ''
sans_icone : affichage l'icone par defaut false
supcplt : Pharse
#}
{% if not (url is defined and url is not empty) %}
    {% set url='#' %}
{% endif %}
{% if wrap is not defined %}{% set wrap='' %}{% endif %}
{% if class_cplt is not defined %}{% set class_cplt='' %}{% endif %}


{% set objet = sac('objet') %}
{% set bt_class = '' %}
{% if nom is not defined %}

    {% if not(action is defined and action is not  empty) %}
        {% set nom = objet %}
    {% else %}
        {% set nom = objet~'_'~action %}
    {% endif %}
{% endif %}
{% if bt_icone is not defined %}{% set bt_icone='' %}{% endif %}
{% if bt_texte is not defined %}{% set bt_texte = false %}{% endif %}
{% if tooltip is not defined %}
    {% set tooltip=true %}
    {% if bt_texte %}{% set tooltip=false %}{% endif %}
{% endif %}



{% if action is defined %}
    {% set bt_class = 'btn' %}
{% else %}
    {% set action = '' %}
{% endif %}


{#///////////////////////////#}
{#//CONFIGURATION PREDEFINI//#}
{#///////////////////////////#}


{#-----voir------------#}
{% if action =='voir' %}
    {% set bt_class = bt_class ~ ' btn-info' %}
    {% set bt_icone = 'fa fa-eye' %}


    {#-----ajouter------------#}

{% elseif action == 'ajouter' %}
    {% set bt_class = bt_class ~ ' btn-success' %}
    {% set bt_icone = 'fa fa-plus' %}

    {#-----modifier------------#}
{% elseif action == 'modifier' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-pencil-alt' %}

    {#-----dupliquer------------#}
{% elseif action == 'dupliquer' %}
    {% set bt_class = bt_class ~ ' btn-success' %}
    {% set bt_icone = 'fa fa-copy' %}

    {#-----supprimer------------#}
{% elseif action == 'supprimer' %}
    {% set bt_class = bt_class ~ ' btn-danger' %}
    {% set bt_icone = 'fa fa-trash-alt' %}
    {#-----changer_mdp------------#}
{% elseif action == 'changer_mdp' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-lock' %}
    {#-----fusion------------#}
{% elseif action == 'fusion' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-compress' %}
    {#-----enregistrer------------#}
{% elseif action == 'enregistrer' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-ok-sign' %}
    {#-----npai------------#}
{% elseif action == 'retour_courrier' %}
    {% set bt_class = bt_class ~ ' btn-default' %}
    {% set bt_icone = 'fa fa-exclamation-triangle' %}
    {#-----pref------------#}

{% elseif action == 'pref' %}
    {% set bt_class = bt_class ~ ' btn-default modal-form' %}
    {% set bt_icone = 'fa fa-cog' %}
    {% set title = 'preference' %}

    {#-----sortir------------#}
{% elseif action =='sortir' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-sign-out-alt' %}

{% elseif action =='taguer' %}
    {% set bt_class = bt_class ~ ' btn-default' %}
    {% set bt_icone = 'fa fa-tag' %}

    {#-----search------------#}
{% elseif action =='rechercher' %}
    {% set bt_class = bt_class ~ ' btn-info' %}
    {% set bt_icone = 'fa fa-search' %}
    {% if nom is not defined %}{% set nom='rechercher' %}{% endif %}


    {#-----annuler------------#}
{% elseif nom is defined and nom == 'annuler' %}
    {% set bt_class = bt_class ~ ' btn-default' %}
    {% set bt_icone = 'fa fa-chevron-left' %}
{% endif %}






{% if tooltip %}
    {% set bt_class = bt_class ~ ' force-tooltip' %}
{% endif %}

{% if nom is not defined %}{% set nom='' %}{% endif %}
{% if class is defined %}{% set bt_class = class %}{% endif %}
{#todo si options individuelle ou préférencielle pour tous les boutons n'a pas été défnie exemple supprimer #}
{% set sans_icone = false %}
{% if bt_texte_gauche is not defined %}
    {% set bt_texte_gauche = false %}
{% endif %}
{% if bt_icone is not empty %}
    {% if sans_icone is not defined %}{% set sans_icone = false %}{% endif %}
{% endif %}
{% if title is not defined %}{% set title=action %}{% endif %}
{% if attr is not defined %}{% set attr={} %}{% endif %}

 {{ wrap|raw }}

<a class="{{ bt_class }} {{ class_cplt }}"



    {% if action == 'supprimer'  %}

        {% if sac(objet~'.nomcplt') %}
            {% set supcplt =':' %}
        {% else %}
            {% set supcplt ='' %}
        {% endif %}

        data-confirm-supprimer="{{ nom|trans }} {{ supcplt }} {{ sac(objet~'.nomcplt')|raw }} ? "
        data-href="{{ url }}"
        {% if js_callback_remove is defined %}
            data-js-callback-remove="{{ js_callback_remove }}"
        {% endif %}
        {% set url = '#' %}
    {% endif %}


   href="{{ url }}"   title="{{ title|trans|raw }}"

    {% if tooltip_placement is defined %}
        data-placement="{{tooltip_placement}}"
    {% endif %}

    {% if bouton_id is defined %}
        id="{{ bouton_id }}"
    {% else %}
        id="lien_{{ objet~'_'~action }}"
    {% endif %}
        {% for k,at in attr %}
            {{ k }}="{{ at }}"
        {% endfor %}
        >
    {% if bt_texte and bt_texte_gauche %}
        {{ nom|trans|raw }}
    {% endif %}
{% if not sans_icone %}
    <i class="{{ bt_icone }}"></i>
{% endif %}

    {% if bt_texte and  not bt_texte_gauche %}
        {{ nom|trans|raw }}
    {% endif %}

</a>
{{ wrap|closingTag|raw }}
