<div class="box box-default">

<div class="box-header">



 <h3 class="box-title">  {{ 'Liste des documents'|trans }} </h3>
<ul class="list-inline">
    {% for doc in documents %}
        <li class="text-center">
            <a href="{{ path('image',{'id_document':doc.idDocument}) }}">
            <i class="fa fa-file-{{ doc.extension }} fa-3x"></i>
            <div class="">{{ doc.nom }}</div>
            <div class="small">{{ doc.createdAt.format('d-m-Y H:i') }}</div>
            </a>
        </li>
    {% endfor %}
</ul>
</div>
 </div>


