<div class="box-logo">
    {% if crop is not defined %}{% set crop = false %}{% endif %}
    {% if ico is not defined %}{% set ico ="ico ico-entite" %}{% endif %}
    {% if redirect is not defined %}{% set redirect = url_courante() %}{% endif %}
    {% set cle = descr(objet~'.cle')~'' %}

    {% if has_logo %}
        <img src="{{ path('image',{'type':'miniature','objet':objet,'id_objet':objet_data.primaryKey,'crop':crop}) }}"
             alt="{{ objet_data.nom }} "  class="img-thumbnail" />
    {% else %}
        <span class="info-box-icon"><i class="{{ ico }}"></i></span>
    {% endif %}
    <div class="btn-group">
        <a href="{{ path(objet~'_logo',{ (cle) : objet_data.primaryKey, 'redirect': redirect }) }}" class="modal-form btn btn-default" title="Changer le logo" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-pencil-alt"></i></a>
        {% if has_logo %}
            <a href="{{ path(objet~'_logo',{ (cle) : objet_data.primaryKey,'supprimer':true, 'redirect': redirect }) }}" class="ajaxjson_redirect btn btn-default" title="Supprimer le logo" data-toggle="tooltip" data-placement="right" ><i class="fa fa-trash-alt "></i></a>
        {% endif %}
    </div>
</div>