<div class="box box-default informations box-rgpd">
    <div class="box-header">
        <h4><i class="fa fa-check-square" aria-hidden="true"></i> {{ 'Utilisation des données personnelles'|trans }}
        </h4>
    </div>
    <div class="box-body">
        <ul class="list-unstyled">
            {% set  tab_rgpd = tab('rgpd_question') %}
            {% set  tab_rgpd_checked = objet_data.rgpd() %}
            {% for rgpd in tab_rgpd %}
                <li>
                    <div class="custom-control">
                        <label for="rgpd_{{ rgpd.id_rgpd_question }}">{{ rgpd.nom }}</label>
                        {% if autoriserNiveaux('G2') %}

                            <input class="bs_switch_rgpd" type="checkbox"  {% if tab_rgpd_checked[rgpd.id_rgpd_question] is defined and tab_rgpd_checked[rgpd.id_rgpd_question] == true %} checked="checked" {% endif %} name="rgpd_{{ rgpd.id_rgpd_question }}"
                                   id="rgpd_{{ rgpd.id_rgpd_question }}" data-action="{{ path('individu_rgpd', {'idIndividu':objet_data.idIndividu}) }}"
                                   value="{{ rgpd.id_rgpd_question }}" >
                        {% else %}
                            {% if tab_rgpd_checked[rgpd.id_rgpd_question] is defined and tab_rgpd_checked[rgpd.id_rgpd_question] == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <script type="application/javascript">
            initialisation_rgpd();
        </script>
    </div>
</div>