<div >
    {{ 'RGPD'|trans }}
        </h4>

        <ul class="rgpd list-inline"  data-url="{{ path('individu_rgpd', {'idIndividu':objet_data.idIndividu}) }}">
            {% set  tab_rgpd = tab('rgpd_question') %}
            {% set  tab_rgpd_checked = objet_data_ext.rgpd() %}


            {% for rgpd in tab_rgpd %}
                <li>
                   <a id="rgpd-{{ objet_data.idIndividu  }}-{{ rgpd.id_rgpd_question }}" class="switch label {% if tab_rgpd_checked[rgpd.id_rgpd_question] %}label-primary{% else %}label-default{% endif %}" data-question="{{ rgpd.id_rgpd_question }}" data-value="{% if tab_rgpd_checked[rgpd.id_rgpd_question] %}0{% else %}1{% endif %}">{{ rgpd.nomcourt }}</a>
                </li>
            {% endfor %}

        </ul>
    <script type="application/javascript">

        initialisation_rgpd_compact();

    </script>
</div>