<div class="row">
    {% set tab_selections = pref('selection.'~objet_bloc) %}
    {% for  key, selection  in tab_selections %}
        <div id="selection{{ key }}" data-id="{{ key }}" data-value="{{ selection.valeurs|json_encode(true) }}"
             class="selection clearfix">
            <div class="col-md-10">
                <div class="nom">{{ selection.nom }}</div>
                <div class="description">{{ selection.description }}</div>
            </div>
            <div class="col-md-2">
                <div class="text-right">
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger "
                           data-confirm-supprimer="Êtes-vous sur de vouloir supprimer cette selection ?"
                           data-href="{{ path('preference_selection_delete',{'num': key,'objet':objet_bloc}) }}"
                           data-js-callback-remove="#choix_selection #selection{{ key }}"
                           title="" id="lien_membrind_supprimer">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pad">
    <a href="{{ path('preference_selection_new',{'objet':objet_bloc}) }}" class="btn btn-default btn-block modal-form">
        <i class="fa fa-save"></i>
        Enregistrer la selection courante

    </a>
    </div>
</div>