{% if not modification %}
    {{ form_row(form_prestation.id_prestation) }}
{% endif %}


<div class="form-group">
    {{ form_label(form_prestation.date_enregistrement) }}
<div class="col-sm-4">
    {{ form_widget(form_prestation.date_enregistrement) }}
</div>

<label class="col-sm-1 control-label label_tva">tva</label>
<div class="col-sm-4 champs_taux">
    {{ form_widget(form_prestation.taux) }}
</div>
{{ form_errors(form_prestation.date_enregistrement) }}
</div>

<div class="form-group champs_dates">
    {{ form_label(form_prestation.date_debut) }}
    <div class="col-sm-4">
        {{ form_widget(form_prestation.date_debut) }}
    </div>
    <label class="col-sm-1 control-label champs_date_fin">au</label>
    <div class="col-sm-5 champs_date_fin">
        {{ form_widget(form_prestation.date_fin) }}
    </div>
    {{ form_errors(form_prestation.date_debut) }}
    {{ form_errors(form_prestation.date_fin) }}
</div>

<div class="form-group champs_abo">
    {{ form_label(form_prestation.premier) }}
    <div class="col-sm-4">
        {{ form_widget(form_prestation.premier) }}
    </div>
    <label class="col-sm-1 control-label champs_date_fin">au</label>
    <div class="col-sm-5 champs_date_fin">
        {{ form_widget(form_prestation.dernier) }}
    </div>
    {{ form_errors(form_prestation.premier) }}
    {{ form_errors(form_prestation.dernier) }}

</div>
<div class="form-group">
    <div>
    {{ form_label(form_prestation.montant) }}
    <div class="col-sm-3">
        {{ form_widget(form_prestation.montant) }}
    </div>
    </div>
    <div>
    <label class="col-sm-1 control-label champs_quantite">*</label>
    <div class="col-sm-2">
        {{ form_widget(form_prestation.quantite) }}
    </div>
    </div>
    <div>
    <label class="col-sm-1 control-label champs_total"> = </label>
    <div class="col-sm-3">
        {{ form_widget(form_prestation.total) }}
    </div>
    </div>
</div>

{{ form_row(form_prestation.observation) }}