{% if selection is not defined %}{% set selection = false %}{% endif %}
{% if barre_filtre is not defined %}{% set barre_filtre = false %}{% set selection = false %}{% endif %}
<div id="super_tableau_{{ objet_bloc }}">
    {% include('inclure/table_dyn_entete.html.twig') with{
        'objet_bloc':objet_bloc,
        'datatable':datatable,
        'barre_filtre':barre_filtre,
        'selection':selection} only %}

    {% if datatable.mode_affichage !='datagrid' %}
        {% include('inclure/table_col.html.twig') with{'tab_col':datatable.colonnes,class : 'ajaxdatatable'} only %}
    {% endif %}
</div>

{% if datatable.mode_affichage=='datagrid' %}
    {% include('inclure/grid_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
{% else %}
    {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
{% endif %}