{% if  datatable is defined and datatable.nb > 0 %}

	<div id="super_tableau_{{ objet_bloc }}">
		{%  if datatable.tab_filtres is  defined and datatable.tab_filtres is not empty  %}
			<nav class="navbar navbar-secondary ">
				<div class="container-fluid">
					{%  if selection is not defined %}{% set selection = false %}{% endif %}
					{% include('inclure/barre_filtre.html.twig') with{'objet':objet_bloc,'tab_filtres':datatable.filtres,'selection':selection} only %}
				</div>
			</nav>
		{% endif %}
		<div class="box-body">
			{% include('inclure/table_col.html.twig') with{'tab_col':datatable.colonnes, class:'super_tableau_data','data':true,'objet_bloc':objet_bloc} only %}
		</div>
	</div>
	<script type="application/javascript">
		var data_{{objet_bloc}} = {{ datatable.donnees|json_encode()|raw }};
	</script>

	{%  if options_js is not defined %}{% set options_js = {} %}{% endif %}
	{% include('inclure/table_sta_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable,'options_js':options_js} only %}

{% else %}
	Aucun {{ objet_bloc|trans }}
{% endif %}