<script type="application/javascript">
	

    $(document).ready(function () {

        container = 'super_tableau_{{ objet_bloc }}';
        cols = {{ datatable.colonnes|array_values|json_encode|raw }};
        
        {%  if options_js is not defined %}{% set options_js = {} %}{% endif %}
        options = {{ options_datatable(objet_bloc,datatable,options_js)|raw}};
        

        if (typeof {{ objet_bloc }}_liste === "function")
        {
            {{ objet_bloc }}_liste(container,cols,nb,options);
        }
        else{
            super_datatable(data_{{ objet_bloc }},container,cols,options);
        }


    });

</script>