<div class="box">
    <div class="box-body">
        <ul class="nav nav-tabs tab_sr" role="tablist">
            {% for nom_prestation_type,datatable  in data_sr %}
                <li role="position_{{ nom_prestation_type }}"{% if loop.index == 1 %} class="active"{% endif %}><a
                            href="#position_{{ nom_prestation_type }}" aria-controls="{{ nom_prestation_type }}"
                            role="tab" data-toggle="tab">{{ nom_prestation_type|trans }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for nom_prestation_type,datatable in data_sr %}
                <div role="tabpanel" class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="position_{{ nom_prestation_type }}">
                    {% set affichage = pref(nom_prestation_type~'.affichage') %}
                    <div class="float-right">
                        {{ bouton('ajouter',{'bouton_id':'lien_'~nom_prestation_type~'_ajouter',
                            'nom':nom_prestation_type~'_ajouter',
                            'bt_texte':true,
                            'objet':nom_prestation_type,
                            'cle': descr(objet_bloc~'.cle'),
                            'id': id ,
                            'prestation_type':nom_prestation_type}) }}
                        <a href='{{ path('preference_edit',{'pref':objet_en_cours()~'|show|datatable_'~nom_prestation_type,'redirect': url_courante()}) }}'
                           class="btn btn-sm btn-default modal-form">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    {% if data_sr[nom_prestation_type] is defined %}
                        {% include('inclure/table_sta.html.twig') with{'objet_bloc':nom_prestation_type,'datatable':datatable } only %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
