{% if barre_filtre %}
    <nav class="navbar navbar-secondary ">
        <div class="container-fluid">
            {% include('inclure/barre_filtre.html.twig') with{'objet':objet_bloc,'tab_filtres':datatable.filtres,'selection':selection} only %}
        </div>
    </nav>
{% endif %}
<div class="haut_de_table">
    {% set pref = 'index' %}
    {% if datatable.pref is defined %}
        {% set pref = 'index' %}
    {% endif %}
    <a href='{{ path('preference_edit',{'pref':objet_bloc~'|'~pref~'|datatable','redirect': url_courante()}) }}' class="btn btn-secondary modal-form float-right"><i class="fa fa-cog"></i></a>
    {% include('inclure/trier_par.html.twig') with{'tab_tri':datatable.tab_tri} only %}
    {% include('inclure/nb_resultat.html.twig') with{'objet_bloc':objet_bloc}  only %}
</div>
{% if barre_filtre %}
    <div id="filtre_en_cours">
        <a id="btn_selection" class="btn btn-secondary btn-modal btn-sm float-left"  data-modal="choix_selection">
            <i class="fa fa-life-ringmark" aria-hidden="true"></i>
        </a>
        <div class="titre">Filtre en cours : <span class="titre_ko">Aucun filtre</span></div>
        <div id="choix_selection" data-rel="super_tableau_{{ objet_bloc }}" class="d-none">
            {% include 'inclure/selection.html.twig' with {'objet_bloc':objet_bloc} only %}
        </div>
        <ul class="list-inline"></ul>
    </div>
{% endif %}
<div class="clearfix"></div>

