{% if class is not defined %}{% set class = '' %}{% endif %}
<table class="table table-striped {{ class }}">
    <thead>
    <tr>
        {% for k,col in tab_col|array_values %}
            <th>{{ col['title']|trans() }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
         {% for k,col in tab_col %}
            <td></td>
        {% endfor %}


    </tr>
    </tbody>
</table>