{% set membrind = conf('general.membrind') %}
<ul class="dernieres_operations timeline">
    {% for date,operation  in tab_operations %}
        <li class="time-label">
            {% if decoupage == 'heure' %}
                {% set time_format = 'short' %}
                <span class="bg-blue small">{{ date|localizeddate('short', 'none', 'fr') }}
                    <i class="fa fa-clock-o"></i> {{ date|localizeddate('none', 'short', 'fr') }}
                </span>
            {% endif %}
            {% if decoupage == 'jour' %}
                <span class="bg-blue small">{{ date|localizeddate('medium', 'none', 'fr') }} </span>
            {% endif %}
            {% if decoupage == 'seconde' %}
                <span class="bg-blue small">{{ date|localizeddate('medium', 'none', 'fr') }} </span>
            {% endif %}
        </li>
        {% for op, opv in operation %}
            <li>


                <div class="timeline-item">

                      <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x {{ opv['code']|classLogColor }}"></i>
                      <i class="fas {{ opv['code']|classLog }} fa-stack-1x fa-inverse"></i>
                    </span>
                <div class="timeline-body">

                   {% if opv['date'] is defined %}
                        <span class="time float-right">
                           <i class="fa fa-clock"></i>
                           {{ opv['date']|localizeddate('none', 'short', 'fr') }}
                        </span>
                    {% endif %}
                        {% if opv['variables'] is defined and opv['variables'] is iterable  %}
                            {{ opv['code']|trans(opv['variables'])|raw }}
                        {% else %}
                            {{ opv['code']|trans }}
                        {% endif %}
                        par
                        {% for id_op, operateur in opv['operateur'] %}

                        	{% if id_op %}
                                {% if membrind %}
                                    <a href="{{ path('membrind_show',{'idIndividu':id_op}) }}">{{ operateur }}</a>
                                {% else %}
                                    <a href="{{ path('individu_show',{'idIndividu':id_op}) }}">{{ operateur }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

