{% if tab_tri.colonnes is defined and  tab_tri.colonnes is not empty  %}
    <div class="trier_par float-right">

        <span class="etat">trier par : <span class="valeur"></span></span>

        <div class="btn-group{% if tab_tri.combinaison is not empty %} d-none{% endif %}">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Tri <i class="fa fa-sort"></i>

            </button>
            <div class="dropdown-menu dropdown-menu-right trier_par_selection">
                {% for k,trier_par in tab_tri.colonnes %}
                    <a data-value="{{ k }}" {% if tab_tri.courant[k] is defined %}class="active dropdown-item"
                       data-order="{{ tab_tri.courant[k].indice }}" data-sens="{{ tab_tri.courant[k].valeur }}"
                       {% else %}class="dropdown-item"{% endif %}>{{ trier_par.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% if tab_tri.combinaison is not empty %}
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Tri <i class="fa fa-sort"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right tri_combinaison">
                    {% for k,tri_combinaison in tab_tri.combinaison %}
                        <a data-champs="{{ tri_combinaison.champs|join(';') }}"
                           class="dropdown-item">{{ tri_combinaison.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
