<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>label</th>
        <th>Quantité</th>
        <th>Unité</th>
        <th>barcode</th>
        <th>etat</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    {% for product in tab_product %}
        <tr>
            <td><a href="{{ path('product',{'id':product.product_id}) }}">{{ product.product_id }}</a></td>
            <td>{{ product.label }}</td>
            <td>{{ product.scaleValue }}</td>
            <td>{{ product.scaleType|measureUnit }}</td>
            <td>{{ product.barcode }}</td>
            <td>
                {% if product.etat==1 %}
                   <span class="label label-success"> <i class="fa fa-thumbs-o-up"></i> OK </span>
                {% elseif product.etat==2 %}
                    <span class="label label-warning"> <i class="fa fa-exclamation-triangle"></i> Problème </span>
                {% elseif product.etat==0 %}
                    <span class="label label-info">  A traiter </span>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="{{ path('etape',{'action':'saisie','id':id_etape,'id_location':id_location,'id_product':product.product_id}) }}"><i class="fa fa-bolt"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>