{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
<div id="contenu">
    <div class="row">
        <!-- Colonne principal-->
        <div class="col-sm-8 category">
            <div class="box">
                <div class="box-header">
                    <div class="float-right">
                        {{ bouton('ajouter',{'objet':'category','class_cplt':'modal-form','bt_texte':true}) }}
                    </div>
                    <h2>{{ 'categories_list'|trans }}</h2>
                </div>
                <div class="box-body">
                    <table class="table table-condensed table_niveau">
                        {%  for id,cat in tab_cat %}
                        <tr class="tr_niveau{{ cat['niveau'] }}">
                            <td class="id">{{ cat.id }}</td>
                            <td class="label">{{ cat.label }}</td>
                            <td class="action">
                                <div class="btn-group">
                                {{ bouton('voir', {'objet':'category','id':cat.id,'class_cplt':' btn-sm'}) }}
                                {{ bouton('modifier', {'objet':'category','id':cat.id,'class_cplt':'modal-form btn-sm','redirect':url_courante()}) }}
                                {{ bouton('supprimer', {'objet':'category','id':cat.id,'class_cplt':'btn-sm','redirect':url_courante()}) }}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">




        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'Informations'|trans }}
                </h5>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    </div>
    </div>



{% endblock %}
