{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
<div id="contenu">
    <div class="row">
        <!-- Colonne principal-->
        <div class="col-sm-8 category">
            <div class="box">

            <div class="box-body">
                <div class="float-right">
                    <div class="btn-group">
                        {{ bouton('modifier', {'id':category.id,'class_cplt':'modal-form','bt_texte':true}) }}
                        {{ bouton('supprimer', {'id':category.id,'bt_texte':true}) }}
                    </div>
                </div>

                <h2>{{ category.label }}</h2>
                <div class="row">
                    <div class="col-md-3">
                        {% if category.hasImage() %}
                            <img class="thumbnail img-fluid img-rounded"
                                 src="{{ path('image',{'objet':'category','id_objet':category.id}) }}" align="left"
                                 width="200px"/>
                        {% else %}
                            <i class="ico ico-category ico-5x"></i>
                        {% endif %}
                        <div class="clearfix"></div>
                        <div>
                            Changer l'image
                            {{ form(form_image) }}
                        </div>
                    </div>

                    <div class="col-md-9">
                        <dl class="dl-horizontal">

                            <dt>{{ 'Réference'|trans }}</dt>
                            <dd>{{ category.reference }}</dd>

                        </dl>

                    </div>
                </div>
                </div>
                </div>

            <div class="box">
                <div class="box-body">
                    {% include('inclure/table_bloc.html.twig') with{'datatable':products,'objet_bloc':'product'} only %}
                </div>
            </div>
        </div>





            <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">




        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'Informations'|trans }}
                </h5>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    </div>
    </div>



{% endblock %}
