{% form_theme form with ['form_large.html.twig'] %}

{% if texte is defined %}
    <p>{{ texte }}</p>
{% endif %}

    {{ form(form) }}

{{ include('inclure/form_js.html.twig') }}



            <script type="application/javascript">

                    var variable_form = {
                        filtres: {{ filtres|json_encode|raw }},
                        nom_formulaire: '{{ form.vars.name }}'
                    };
                    init_restriction_form(variable_form);
            </script>


</div>

