{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block menu_header %}
{% endblock %}
{% block content %}
<div id="contenu">
    <div class="row">
{% if etape<2 %}
        <!-- six box -->
        <div class="mb-3 col-xl-6">
            <div class="content-box bg-white shadow-sm p-2">


                    <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Collez dans ce champs votre csv"></textarea>
                    </div>
                    <div class="form-group">

                        <select id="profile_fichier_csv" class="form-control">
                            {% for fichier,valeurs in tab_profile_fichier_csv  %}
                            <option value="{{ valeurs }}">{{ fichier }}</option>
                            {% endfor  %}
                         </select>



                        <div class="depliable">
                            <div class="gachette">
                                Consulter les paramètres du profil
                            </div>
                            <div class="depliant" id="champs_param">
                                {% for ch,label_ch in champs  %}

                                    <div class="row mb-3">
                                        <label for="{{ ch }}" class="col-sm-2 col-form-label col-form-label-sm">{{ label_ch }}</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" maxlength="3" class="form-control form-control-sm" id="{{ ch }}" placeholder="">
                                        </div>
                                    </div>
                                {% endfor  %}
                            </div>
                        </div>
                    </div>




            </div>
        </div>

        <!-- six box -->
        <div class="mb-3 col-xl-6">
            <div class="content-box bg-white shadow-sm">
                <div id='table_html' class="d-none"></div>

                <div id='table_export'></div>
            </div>
        </div>



    <div class="mb-3 col-xl-6">
        <div class="box">
            <div class="box-header">
                <h3>Ajouter / Modifier les produits</h3>
            </div>
            <div class="box-body">
                {{ include('inclure/form.html.twig', {'form':form_m1}) }}
            </div>
        </div>

    </div>
    </div>
</div>
<script type="application/javascript">

    let config={
        delimitersToGuess: ['\t', '|', ';']
    }

    $(document).ready(function(){


        $('#profile_fichier_csv').on('change',function(){
            let tab = JSON.parse($(this).val());
            for(let i in tab){
                $('input#'+i).val(tab[i]);
            }
        });


        $('textarea').on('keyup',function(){

            let csvString = $(this).val();
            let parse = Papa.parse(csvString, config);
            let data = _.slice(parse.data,0,10);
            $('#table_html').htmlson({
                data: data
            }).addClass('table table-striped');


            let champs=['barcode','ref','label','price','colisage','contenance','tva'];
            let indice={};
            for (var variable in champs) {
                if($('#'+variable).val()!=''){
                    indice[champs[variable]]=$('#'+champs[variable]).val();
                }
            }
            let exportation=[];
            for (var i in parse.data) {
                temp={};
                for (var v in indice) {
                    temp[v]=parse.data[i][indice[v]];
                }
                exportation.push(temp);
            }

            $('#mercuriale_json').val(JSON.stringify(exportation));
            $('#table_export').htmlson({ data: exportation }).addClass('table table-striped');

        });

        $('#champs_param input').on('change',function() {
            $('textarea').trigger('keyup');
        });

        $('#profile_fichier_csv').trigger('change');
    });
</script>
    {% else  %}
        {% if etape==2  %}
        <div class="col-md-8 offset-2">
            <div class="box">
                <div class="box-header">
                    <h3>Valider les modifications</h3>
                </div>
                <div class="box-body">{{ form(form_m2) }}</div>
            </div>
        </div>
        {% else  %}
        <div class="col-md-8 offset-2">
            <div class="box">
                <div class="box-header">
                    Importation d'une mercuriale avec success
                </div>
                <div class="box-body">
                    <h3>Liste des produits créés</h3>
                        <ul>
                        {% for id,label in tab_product_creation %}
                        <li><a href="{{ path('product_show',{'id':id}) }}">{{ id }} - {{ label }}</a></li>
                        {% endfor %}
                        </ul>
                    <h3>Liste des produits modifiés</h3>
                    <ul>
                        {% for id,label in tab_product_modif %}
                            <li><a href="{{ path('product_show',{'id':id}) }}">{{ id }} - {{ label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            </div>
        </div>

        {% endif %}

{% endif %}
    </div>
    </div>
{% endblock %}
