@import "functions";
@import "variables";
@import "mixins";
@import "variables_perso";

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

body {
  background: $gray-300 url("../images/fond.png") repeat center fixed;
  min-height: 100%;
}

.label_icone{
 display: flex;
  svg.svg-inline--fa{margin-right: 0.5em;}
}

.wrapper {
  position: relative;
  min-height: calc(100% - 3em);
  height: auto;

}

//###################################################
//###########         CONTENU            ###########
//###################################################

//######## BREADCRUMB
.breadcrumb{
  background-color: transparent;
  border: 0 none;
  margin:0;
  padding:0;
   li + li::before { content : '';padding:0;}
  li {background-color: $white-trans70; margin:0;padding:5px 1em;}
  li:last-child {background-color: white; font-size: 1.1em;}
  a {color:gray;margin:0;}

}

.content-header{
  padding-top:1em;
}


//######## NAVBAR

.navbar{
  background: white;
  border-bottom :$gray-100 solid 1px;
#navbar-collapse{


  a { color:$gray-500; }
  .navbar-nav > li > a.btn{
    color:white;
}
  .navbar-nav {
  li.dropdown > a { padding : 25px 15px 5px 15px;}
  }
  .navbar-form .form-control {
    padding: 2px 4px;
    height: auto;
    margin-top:14px;
    margin-bottom:0px;
  }

}
  .navbar-brand{padding: 0 15px;}
  .tt-menu {
    padding:  4px;
    background: white;
    font-size:0.9em;

  }

}



//######## CONTENU




#contenu {
  margin-bottom: 3em;
  padding-bottom: 1em;
  h2 {
    margin-bottom: 1em;
  }

  .table caption + thead tr:first-child td, .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child th {
    border-top: 0 none;
  }
  table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    top: 0;

  }
  .dl-horizontal{
    dt{}
    dd{text-align: left;margin-top:0.35em;}
  }

.box{

  background-color: $white-trans95;

  border-radius: $border-radius;
  nav{

    color:white;
    background-color: $vert-haricot;
    border:none 0;
    border-radius: 0;
    margin-bottom: 0;
    .navbar-right{ margin-right:0;}
    .navbar-nav > li > a { padding:1.25em 2em;border: 0 none; background-color: transparent;color:white;}
    .navbar-nav > li > a:hover { border:0 none; margin-top: 0; color: $gray-100;}
    input{ background-color:lighten( $vert-haricot,10);border:none;color:white;height: auto }
    input::-moz-placeholder{ color:white; }
    input::-ms-input-placeholder{ color:white; }
    input::-webkit-input-placeholder{ color:white; }
    .select2-selection {background-color:lighten( $vert-haricot,10); font-size:1em;border: 0 none;color:white;padding:0.5em 0.5em;height: (2.4em);}
    .select2-selection__rendered {background-color:lighten( $vert-haricot,10);border: 0 none;color:white;}

  }
  .box-body{padding: 1em;
  }
}


}

/////////////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////////////

footer.main-footer { background-color: transparent; border-top:0 none;  width: 100%; padding:0.5em 1em; color:$gray-700;}


//###################################################
//###########     PAGE LOGIN             ###########
//###################################################





.login-box {

  .login-logo {
    position:relative;
    text-align: center;
    background-color: $white-trans90;
    padding: 1em;
    border-radius: $border-radius;
    img{margin-top:-2em;}
  }
  .login-box-body{
    background-color: $gray-trans80;
    padding: 2em;
    border-radius: $border-radius;
  }
  max-width: 700px;
  margin: 3em auto;
}

.depliable{
  .depliant{display:none;}
}

.select2-container--bootstrap{
.select2-results{
  .niveau1{font-size:0.85em;padding-left:1em;}
  .niveau2{font-size:0.7em;padding-left:2em;}
  .niveau3{font-size:0.6em;padding-left:3em;}
  .niveau4{font-size:0.5em;padding-left:4em;}
  }
}

.a_cheval{
  position:relative;
  top : -6px;
}


@import "inc/uploader";
@import "inc/table";
@import "inc/datagrid";
@import "inc/barre_filtre";
@import "inc/typeahead";


