@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";

body{    background: transparent none;}
span{ display:none;}
.d-none{display:none;}
.table{ font-size: 1.1em; }
.table th { padding:0.1em 0.2em; text-align: center;}
.table td { padding:0.1em 0.2em; text-align: center;vertical-align: top;}
.table td.text-left { text-align: left;}
h5.client{font-size: 1.3em; background-color: transparent; color: #000; font-weight:bold;border-bottom: #000 3px solid;}
.table-bordered td, .table-bordered th{ padding:0.2em 0.5em; font-size: 0.85em; border-color: #666;}
.table-bordered thead th { font-size: 0.7em; border-color:#555;border-bottom-width:1px;  }


table.compo{  border-spacing: 0 10px; font-size: 0.85em; width: 100%;
    h2{ font-size: 1.4em; padding:0.1em 0.1em;margin:0;}
    h3{ font-size: 1.2em; padding:0.1em 0.1em;margin:0;font-weight: normal;}
    h4{ font-size: 1.1em; padding:0.1em 0.1em;margin:0; font-weight: normal;}
    .cat_niv0{font-size:1.2em;line-height: 1.2}
    .cat_niv1{font-weight: normal;line-height: 1.2}
    .cat_niv2{font-weight: normal;line-height: 1.2}
    .table {margin:0 0 1em 0;}
    > tr > td{  padding: 0.15em 10px; }
    td{  line-height: 1.3; padding: 0.15em 5px;  }
}


.vtop{
    vertical-align: top;
}
.td-20{
    width: 20%;
}

.nouvelle_page {
    page-break-before: always;
    margin-left: 0;
    padding: 0;
    position:relative;
}

.sommaire{font-size: 1.4em;}
.num_page{font-size: 1.2em;}


@each $key, $value in $couleurs {
    .bg_color#{$key} { background-color:$value; }
    @each $tone-key, $tonevalue in $tonalite {
        .bg_color#{$key}-#{$tone-key} { background-color: lighten($value,$tonevalue); }

    }
    @each $tone-key, $tonevalue in $tonalite2 {
        .bgb_color#{$key}-#{$tone-key} { background-color: lighten($value,$tonevalue); }
        .bgb_color#{$key}-#{$tone-key} td{ background-color: lighten($value,$tonevalue); }
    }
}












