$vert-haricot : #5aaf58;


$white-trans : rgba(250, 250, 250, 0.97);
$white-trans80 : transparentize(#FFF, 0.2);
$white-trans90 : transparentize(#FFF, 0.1);
$white-trans95 : transparentize(#FFF, 0.05);
$white-trans70 : transparentize(#FFF, 0.3);
$white-trans50 : transparentize(#FFF, 0.5);
$gray-trans80 : transparentize($gray-100, 0.1);
$gray-trans-20 : transparentize($gray-100, 0.1);


$olive: #a5cb33;

$couleurs: (
        1: $gray-500,
        2: $green,
        3: $teal,
        4: $cyan,
        5: $orange,
        6: $indigo,
        7: $yellow,
        8: $pink,
        9: $olive,
        10: $blue,
        11: $purple,
        12: $red
);

$tonalite: (
        100: 5,
        200: 10,
        300: 15,
        400: 20,
        500: 25,
        600: 30,
        700: 35,
        800: 40,
        900: 45,
        1000: 50,
        1100: 55,
        1200: 60,
        1300: 65
);

$tonalite2: (
        100: 55,
        200: 60,
        300: 65,
        400: 70,
        500: 75,
        600: 80,
        700: 85,
        800: 90,
        900: 95,
        1000: 100,
        1100: 100,
        1200: 100,
        1300: 100
);

