@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
table.table_niveau {
  td{
    width: 100%;
    padding-bottom: 0.2em;padding-top: 0.2em;
  }
  td.id{width: 3em;
  }
  td.action{width: 5em;text-align:right;padding-bottom: 0.1em;padding-top: 0.1em;}

  tr.tr_niveau0{
    font-size: 1.1em;
    td.label{ font-weight: bold}
  }

  tr.tr_niveau1{
    td.label{padding-left:1.5em}
  }
  tr.tr_niveau2{
    font-size: 0.95em;
    td.label{padding-left:2.5em}
  }
  tr.tr_niveau3{
    font-size: 0.90em;
    td.label{padding-left:3.5em}
  }
  tr.tr_niveau4{
    font-size: 0.85em;
    td.label{padding-left:4.5em}
  }


}