@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
.cat_niv0{
  font-size:1.4em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: $gray-800 1px solid;
  padding:0.1em 0.25em;
  background-color: $gray-400;
}
.cat_niv1{
  font-size:1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding:0.1em 0.25em;
  background-color: $gray-300;
}
.cat_niv2{
  font-size:1em;
  font-weight: bold;
  background-color: $gray-200;
  padding:0.1em 0.25em;
}
.cat_niv3{
  font-size:0.9em;
  font-weight: bold;
  padding:0.1em 0.25em;
}


.td5{width: 5%}
.td10{width: 10%}
.td15{width: 15%}
.td20{width: 20%}
.td25{width: 25%}
.td45{width: 45%}

.bon_de_commande{
  table{
    th{padding:0.1em;text-align: center;}
    td{padding:0.2em;text-align: center;}
  }
}