@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
table#tableau_inventaire {
td.categorie{
  font-size: 1.2em;
  font-weight: bold;
  background-color: $info;
}

}