@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";

form{
#mercuriale2_choix{

input[type="checkbox"], input[type="radio"] {

	box-sizing: border-box;
	padding: 0;
    margin: 0.5em 1em 0.5em 0.25em;
	vertical-align: middle;

}


  label{
    position: relative;
  }
  input[type="checkbox"]+ label::before {
    content: "";
    position: absolute;
    height: 80%;
    top: 0.25em;
    left: -3em;
    width: 0.5em;
  }
  input.creation[type="checkbox"] + label::before{

    border-left: $success 5px solid;
  }

  input.modif_attr[type="checkbox"]+ label::before,
  input.modif_prix[type="checkbox"]+ label::before,
  input.modif_label[type="checkbox"] + label::before {

    border-left: $warning 5px solid;
  }

  input.produitsup_creation[type="checkbox"] + label::before,
  input.produitsup_modif[type="checkbox"] + label::before{

    border-left: $secondary 5px solid;
  }








label {
  display: inline-block;
  margin: 0.5em 0;
  width: calc(100% - 2.5em);
  vertical-align: middle;
  clear: left;
}

}
}