@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
#product_grid {

.num_page{font-size: 1.2em;}

  h3.cat_niv1{ margin-bottom : 0.15em}

  table.compo{  border-spacing: 0 10px; font-size: 0.85em;
    .table th { padding:0.1em;; text-align: center;}
    .table td { padding:0.1em; text-align: center;vertical-align: top;}
    .table td.text-left { text-align: left;}
  }
  table.compo{

    font-size:0.8em;
    > tr > td{  padding: 1px 10px;  }
    .cat_niv0{font-size:1em;}
    .cat_niv1{font-weight: normal}
    .cat_niv2{font-weight: normal}
  }

  .vtop{
    vertical-align: top;
  }
  .td-20{
    width: 20%;
  }



  .nouvelle_page {
    page-break-before: always;
    margin-left: 0;
    padding: 0;
    position:relative;
  }


  @each $key, $value in $couleurs {
    .bg_color#{$key} { background-color:$value; }
    @each $tone-key, $tonevalue in $tonalite {
      .bg_color#{$key}-#{$tone-key} { background-color: lighten($value,$tonevalue); }
      .bg_color#{$key}-#{$tone-key} td{ background-color: lighten($value,$tonevalue); }
    }
    @each $tone-key, $tonevalue in $tonalite2 {
      .bgb_color#{$key}-#{$tone-key} { background-color: lighten($value,$tonevalue); }
      .bgb_color#{$key}-#{$tone-key} td{ background-color: lighten($value,$tonevalue); }
    }
  }

}