@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
#categories_list{
  div.categorie_arbre{
    max-height: 600px;
    overflow-y: scroll;
  }

  ul{
  list-style:none; margin:0;padding:0;
  li { padding:0 1em ;
    div{
       padding:0.25em 1em ;
    }
    div.on{
      background-color:$warning; color:white;
    }
   }
    .level1{
      font-weight: bold;
      ul{
        font-weight: normal;
      }
    }
  .level2{
    font-size:0.9em;
  }
  }
}


#products_list{
  max-height: 600px;
  overflow-y: scroll;
  ul{
    list-style:none; margin:0;padding:0;
    li { padding:0.25em 1em ;

    }
    li.selected{ background-color:$primary; color:white;}
    li:hover{ background-color:$gray-100; }
    li.selected:hover{ background-color:$primary;}
  }
  #draggingContainer{ opacity: 0.5;}
}

.ui-state-hover{ background-color:$danger;}

.ui-droppable{ border:1px $gray-100 solid;}