{% extends 'sys/inspecteur.html.twig' %}

{% block tableau %}
    <ul class="list-inline">
        {% for nom_liste in tab_infolettre %}
            <li>
                <a href="{{ path('inspecteur_infolettre_ovh',{'nom':nom_liste}) }}">{{ nom_liste }}</a>
            </li>
        {% endfor %}
    </ul>



    {% if tab is defined %}
        {% for id_liste,liste in tab %}
            <h2>{{ id_liste }} - {{ tab('infolettre.'~id_liste~'.nom') }}</h2>
            {% if liste.message is defined %}
                {{ liste.message }}
            {% endif %}
            {% if liste.nb_ok is defined %}
                <p>Email inscrit sur cette liste ovh : {{ liste.nb_ok }}</p>
            {% endif %}
            {% if liste.nb_ko is defined %}
                <p>
                    Email qui devrait être mais qui ne le sont pas : {{ liste.nb_ko }}
                    {% if liste.nb_ko is defined %}
                        <a href="{{ path('infolettre_edit',{action:'egalise_simplasso_vers_ovh','idInfolettre':liste.id_infolettre}) }}">Corriger
                            les erreurs</a>

                    {% endif %}
                </p>
            {% endif %}
            <table class="table">
                {% for d in liste.data %}
                    <tr>
                        <td>{{ d['email'] }}</td>

                        <td>
                            {% if d['id_individu'] =='???' %}
                                {{ d['id_individu'] }}
                            {% else %}
                                <a href="{{ path('individu_show',{'idIndividu': d.id_individu}) }}">{{ d['id_individu'] }}</a>
                            {% endif %}
                        </td>
                        <td>{{ d['etat'] }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endfor %}
    {% endif %}

{% endblock %}
