{% extends 'base'~(layout??'')~'.html.twig' %}
{% block content %}
    {{ layout_cplt() }}

    {% if not pdf %}
        <div id="contenu">
        <div class="float-right">

        </div>
        <div class="row">

              <!-- Colonne principal-->
            <div class="col-sm-8 offset-2 bon_de_commande">
                <div class="box">
                    <div class="box-body">
        <div class="btn-group">
            <a href="{{ path('commande_feuille',{'format':'pdf'})}}" class="btn btn-success">version PDF</a>
        </div>

    {% endif %}
    <h3> Produits disponibles à la commande - {{ date_du_jour|format_datetime('medium', 'none',  locale='fr') }} </h3>


    {% for cat in tab_cat %}
    {% if cat.nb >0 %}
            <div class="cat_niv{{ cat.niveau }}">{{ cat.label }}</div>
                    {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
                    <table class="table">
                        {% for produit in tab_produit_cat %}
                            <tr>
                                {% if not pdf %}
                                <td class="td10">
                                    {{ produit.supplier_name }}
                                </td>
                                {% endif %}
                                <td class="td20">
                                    {{ produit.barcode_image|raw }}
                                    <small>{{ produit.barcode }}</small>
                                </td>
                                <td class="td25 text-left">{{ produit.label }}</td>
                                <td  class="td15">
                                    {{ contenance_affichage(produit.contenance,produit.contenance_unite) }}
                                </td>
                                <td class="td10">
                                    {% if is_string(produit.prix) %}
                                        ...
                                    {% else %}
                                    <small><del>{{ produit.prix }} {{ currency_symbol }} </del></small><br/>
                                    {{ (produit.prix* 0.95)|format_currency('EUR') }}
                                    {% endif %}
                                </td>
                                <td class="td5">{{ produit.colisage }}</td>
                                <td class="td10">
                                    {% if is_string(produit.prix_total)  %}
                                        ...
                                    {% else %}
                                        <small><del>{{ produit.prix_total }} {{ currency_symbol }} </del></small><br/>
                                        {{ (produit.prix_total* 0.95)|format_currency('EUR') }}
                                    {% endif %}
                                </td>
                                {% if not pdf %}
                                <td>
                                    {{ bouton('voir',{'objet':'product','id':produit.id}) }}
                                </td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                        </table>
    {% endif %}
    {% endfor %}
    {% if not pdf %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endif %}
{% endblock %}
