{% extends 'base'~(layout??'')~'.html.twig' %}
{% block content %}
    {{ layout_cplt() }}

    {% if not pdf %}
        <div id="contenu">
        <div class="float-right">

        </div>
        <div class="row">
              <!-- Colonne principal-->
            <div class="col-sm-8 offset-2 bon_de_commande">
                <div class="box">
                    <div class="box-body">
        <div class="btn-group">
            <a href="{{ path('commande_feuille',{'format':'pdf','destinataire':'adh'})}}" class="btn btn-success">version PDF</a>
        </div>

    {% endif %}
        <h3> Produits disponibles à la commande - {{ date_du_jour|format_datetime('medium', 'none',  locale='fr') }} </h3>

    {% for cat in tab_cat %}
    {% if cat.nb >0 %}
    <div class="cat_niv{{ cat.niveau }}">{{ cat.label }}</div>
    {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
        {% if tab_produit_cat is not empty %}
    <table class="table table-condensed">
        <tr>
            <th class="text-left">Désignation</th>
            <th>Contenance</th>
            <th>Prix à l'unité</th>
            <th>Vendu par</th>
            <th>Prix du colis</th>
        </tr>
    {% for produit in tab_produit_cat %}



                <tr>
                    <td class="td45 text-left">{{ produit.label }}</td>
                    <td class="td15">
                        {{ contenance_affichage(produit.contenance,produit.contenance_unite) }}
                    </td>
                    <td class="td15">
                        {% if is_string(produit.prix) %}
                            ...
                        {% else %}
                        <small><del>{{ produit.prix }} {{ currency_symbol }} </del></small><br/>
                        {{ (produit.prix* 0.95)|format_currency('EUR') }}
                        {% endif %}
                    </td>
                    <td class="td10">{{ produit.colisage }}</td>
                    <td class="td15">
                        {% if is_string(produit.prix_total)  %}
                            ...
                        {% else %}
                            <small><del>{{ produit.prix_total }} {{ currency_symbol }} </del></small><br/>
                            {{ (produit.prix_total* 0.95)|format_currency('EUR') }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </table>
        {% endif %}
        {% endif %}
    {% endfor %}
    {% if not pdf %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endif %}
{% endblock %}
