{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block content %}
<div id="contenu">
    <div class="row">
        <div class="col-12 commande">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Génerer les bulletins de commande</h3>
                </div>
                <div class="box-body">
                    <a href="{{ path('commande_feuille') }}" class="btn btn-info">Générer le bon pour la caisse</a>
                    <a href="{{ path('commande_feuille',{'destinataire':'adh'}) }}" class="btn btn-info">Générer le bon pour les adhérents</a>


                </div>
            </div>


        </div>
        <div class="col-sm-8 category">
        </div>
    </div>
</div>


{% endblock %}