{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

<div id="contenu">
    <div class="box">
        <nav class="navbar navbar-default">
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="nav-item navbar-text">
                    Regrouper par :
                    </li>
            <li class="nav-item" ><a href="{{ path('sales',{regroup:'annee'}) }}">Année</a></li>
            <li class="nav-item" ><a href="{{ path('sales',{regroup:'mois'}) }}">Mois</a></li>
            <li class="nav-item" ><a href="{{ path('sales',{regroup:'semaine'}) }}">Semaine</a></li>
            <li class="nav-item" ><a href="{{ path('sales',{regroup:'jour'}) }}">Jour</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
        <a href="{{ path('sales',{format:'csv','regroup':regroup}) }}" class="btn btn-default" ><i class="fa fa-file-excel"></i> Exporter au format tableur</a>
            </li>
        </ul>
            </div>

        </nav>
        {{ tab_stat|array2htmltable({"th":true,'class':'super_tableau'})|raw }}
    </div>
</div>
{% endblock %}
