{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

    <div id="contenu">
        <div class="box">


<table class="table table-responsive">

<thead>
    <tr role="row">
      <th>Numero de ticket</th>
      <th>Date</th>
      <th>Montant HT</th>
      <th>Montant TTC</th>
        {% for tax in tab_tax %}
            <th> HT {{ tax.rate }}</th>
        {% endfor %}
        {% for tax in tab_tax %}
            <th>{{ tax.label }}</th>
        {% endfor %}
        {% for payment in tab_paymentmode %}
            <th>{{ payment.label }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
{% for t in tab_ticket %}
<tr class="ticket">
    <td>{{ t.number }}</td>
    <td>{{ t.date|date('d/m/Y H:i:s') }}</td>
    <td>{{ t.finalPrice }}</td>
    <td>{{ t.finalTaxedPrice }}</td>
    {% for tax in tab_tax %}
        <td>
            {% if tab_tickettaxes[t.id][tax.id] is defined %}
                {% for t in  tab_tickettaxes[t.id][tax.id] %}
                    {{ t.base }}
                {% endfor %}
            {% endif %}
        </td>
    {% endfor %}
    {% for tax in tab_tax %}
    <td>
        {% if tab_tickettaxes[t.id][tax.id] is defined %}
            {% for t in  tab_tickettaxes[t.id][tax.id] %}
                {{ t.amount }}
            {% endfor %}
        {% endif %}
    </td>
    {% endfor %}
    {% for payment in tab_paymentmode %}
        <td>
            {% if tab_ticketpayments[t.id][payment.id]is defined %}
                {% for t in  tab_ticketpayments[t.id][payment.id] %}
                    {{ t.amount }}
                {% endfor %}
            {% endif %}
        </td>
    {% endfor %}
</tr>
    <tr class="d-none" >
        <td colspan="20">
        <table class="table table-responsive">

            <thead>
            <tr role="row">
                <th>Ligne</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix unité TTC</th>
                <th>Prix TTC avt promo</th>
                <th>Prix HT</th>
                <th>Taux promotion</th>
                <th>Prix TTC</th>

            </tr>
            </thead>
            <tbody>
            {% for tl in tab_ticketline[t.id] %}
                <tr>
                    <td>{{ tl.disp_order }}</td>
                    <td>{{ tl.product_label }}</td>
                    <td>{{ tl.quantity }}</td>
                    <td>{{ tl.taxed_unit_price }}</td>
                    <td>{{ tl.taxed_price }}</td>
                    <td>{{ tl.tax_rate }}</td>
                    <td>{{ tl.discount_rate }}</td>
                    <td>{{ tl.final_taxed_price }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        </td>


    </tr>
{% endfor %}
</tbody>
</table>




        </div>
</div>


    <script>
        $(document).ready(function(){

            $('tr.ticket').click(function (){
                $(this).next('tr').toggleClass('d-none');
            });

        })



    </script>
{% endblock %}
