{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block menu_page_droite %}
    <a href="{{ path('product_index') }}" class="btn btn-secondary">{{ 'Back to the products list'|trans }}</a>
{% endblock %}
{% block content %}
<div id="product_classify">
        <div class="box">
            <div class="box-header">
                <h1>{{ sac('page')|trans }}</h1>
            </div>
            <div class="box-body">

                <div class="row">
                    <div id="categories_list" class="col-md-3">
                        <div class="categorie_arbre">
                        <ul class="list-unstyled">
                            {% for category in tab_categories %}
                                {% include('inclure/category_row_li.html.twig')with {'category':category, 'level':1} only %}
                            {% endfor %}
                        </ul>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div id="products_list">


                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
</div>
    <style>
        li.selected {
            background-color: #22FFFF;
        }
    </style>

    <script type="application/javascript">
        $(document).ready(function () {

            $('#product_classify').product_classify(
                '{{ path('classify_browse') }}',
                '{{ path('classify_modify') }}'
            );
        });
    </script>
{% endblock %}