{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block menu_page_droite %}
    <a href="{{ path('product_index') }}" class="btn btn-secondary">{{ 'Back to the products list'|trans }}</a>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header">
            <h1>{{ sac('page')|trans }}</h1>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8 offset2">
                    <div class="box">
                        <div class="box-header">
                            <h3>Changer le taux de marge de tous les produits</h3>
                        </div>
                        <div class="box-body">
                            {{ include('inclure/form.html.twig', {'form':form_marge}) }}
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3>Dédactiver les produits plus vendus depuis X jours</h3>
                        </div>
                        <div class="box-body">
                            {{ include('inclure/form.html.twig', {'form':form_desactivate}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('product_index') }}" class="btn btn-primary">product_list</a>
{% endblock %}