{% extends 'base'~(layout??'')~'.html.twig' %}
{% block content %}
    {{ layout_cplt() }}

    {% if not pdf %}
        <div id="contenu">
        <div class="float-right">
        </div>
        <div class="row">
              <!-- Colonne principal-->
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2" id="product_grid">
                <div class="box">
                    <div class="box-body">
            <div class="btn-group float-right">{% set args_temp = args|merge({'format':'pdf'}) %}
                <a href="{{ path('product_grid',args_temp)}}" class="btn btn-success"><i class="fa fa-file-pdf"></i> Version PDF</a>
                {% set args_temp = args_temp|merge({'couleur':'0'}) %}
                <a href="{{ path('product_grid',args_temp)}}" class="btn btn-success"><i class="fa fa-file-pdf"></i> Version PDF Noir & Blanc</a>
            </div>

    {% endif %}
    <h1>Grille des produits</h1>
    <div class="clearfix"></div>
    <div class="sommaire">
    <table class="compo" cellpadding="10px" > <tr>
    {% set indice_depart=1 %}
    {% set bg_color='bg_color' %}
            {% if noir_blanc %}
            {% set bg_color='bbg_color' %}
            {% endif %}
    {% set num_page=1 %}
    <td class="td-20 vtop">
        <div class="num_page">Page {{ num_page }}</div>
    {% set nb_col=1 %}
    {% set couleur = 0  %}
    {% set nuance = 0  %}
        {% set nb_ligne_max = 45  %}
    {% for cat in tab_cat %}

    {% if cat.nb >0 %}
    {% if(cat.niveau==0) %}
        {% set couleur = couleur + 1  %}
        {% set nuance = 0  %}
    {% elseif(cat.niveau==1) %}
        {% set nuance = nuance +1  %}
    {% endif %}
    {% if (indice_depart+cat.nb > nb_ligne_max) and (nb_col % 5 ) == 0 %}

    {% if (nb_col % 5 ) == 0 %}
    </td><td class="td-20 vtop">
                {% set num_page=num_page+1 %}
                <div  class="num_page">Page {{ num_page }}</div>
            {% endif %}
            {% set nb_col = nb_col+1 %}

                {% set indice_depart=0 %}
                {% endif %}
                <div class="cat_niv{{ cat.niveau }} {{ bg_color }}{{ couleur }}{{ (nuance== 0) ? '':'-'~nuance~'00' }}">{{ cat.label }} ({{ cat.nb }})</div>
                {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
                {% set indice_depart = indice_depart+2 %}

                    {% for i,produit in tab_produit_cat %}
                        {% if (indice_depart) > nb_ligne_max %}
                                {% if (nb_col % 5 ) == 0 %}
                                   {% set num_page=num_page+1 %}
                                </td><td class="td-20 vtop">
                                   <div  class="num_page">Page {{ num_page }}</div>
                            {% endif %}
                            {% set nb_col = nb_col+1 %}

                                    {% set indice_depart=0 %}
                                    {% endif %}
                                    {% set indice_depart = indice_depart+1 %}
                                    {% endfor %}

                        {% endif %}
                    {% endfor %}
        </td></tr></table>
    </div>




    {% set indice_depart=1 %}
    <div class="nouvelle_page">
     <table class="compo" cellpadding="10px"><tr>
        <td class="td-20 vtop">
    {% set nb_col=1 %}
    {% set couleur = 0  %}
    {% set nuance = 0  %}
    {% for cat in tab_cat %}

            {% if cat.nb >0 %}
                    {% if(cat.niveau==0) %}
                        {% set couleur = couleur + 1  %}
                        {% set nuance = 0  %}
                    {% elseif(cat.niveau==1) %}
                        {% set nuance = nuance +1  %}
                    {% endif %}
                    {% if (indice_depart+cat.nb > nb_ligne_max) and (nb_col % 5 ) == 0 %}
                    </td>
                    {% if (nb_col % 5 ) == 0 %}
                    </tr></table></div><div class="nouvelle_page"><table class="compo" cellpadding="10px"><tr>

                    {% endif %}
                    {% set nb_col = nb_col+1 %}
                    <td class="td-20 vtop">
                    {% set indice_depart=0 %}
                    {% endif %}
                    <h{{ cat.niveau+2 }} class="cat_niv{{ cat.niveau }} {{ bg_color }}{{ couleur }}{{ (nuance== 0) ? '':'-'~nuance~'00' }}">{{ cat.label }}</h{{ cat.niveau+2 }}>
                            {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
                    {% if cat.nb >0 %}
                    {% set indice_depart = indice_depart+2 %}
                    <table class="table {{ bg_color }}{{ couleur }}{{ (nuance== 0) ? '':'-'~nuance~'00' }}">
                        {% for i,produit in tab_produit_cat %}
                            <tr>
                                <td class="td90 text-left">
                                    {% if produit.barcode|length > 4 %}
                                        {{ produit.label|slice(0,25)|upper }}
                                    {% else %}
                                        {{ produit.label|slice(0,30)|upper }}
                                    {% endif %}
                                </td>
                                <td class="td10 text-right">
                                    {{ produit.barcode }}
                                </td>
                            </tr>
                            {% if (indice_depart) > nb_ligne_max %}
                                </table>
                                </td>
                                {% if (nb_col % 5 ) == 0 %}
                                    </tr></table></div><div class="nouvelle_page"><table class="compo" cellpadding="10px"><tr>

                                {% endif %}
            {% set nb_col = nb_col+1 %}
                                <td class="td-20 vtop">
                                <table class="table {{ bg_color }}{{ couleur }}{{ (nuance== 0) ? '':'-'~nuance~'00' }}">
                                    {% set indice_depart=0 %}
                            {% endif %}
                                    {% set indice_depart = indice_depart+1 %}
                        {% endfor %}
                        </table>
                                    {% endif %}
            {% endif %}


    {% endfor %}
                                </td></tr></table>
    </div>
    {% if not pdf %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
