{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block menu_page_droite %}
    <a href="{{ path('product_index') }}" class="btn btn-secondary">{{ 'Back to the products list'|trans }}</a>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header">
            <h1>{{ 'Code disponible'|trans }}</h1>
        </div>
        <div class="box-body">
            <div class="filtres">
                <input type="checkbox"  id="show_only_dispo" /> <label for="show_only_dispo">Voir uniquement les codes disponibles</label>
                <script type="application/javascript">
                    $(document).ready(function(){
                        $('#show_only_dispo').change(function(){
                            $('tr.code_indispo').toggleClass('d-none');
                        });
                    });
                </script>
            </div>

            <table class="table table-striped">
                <tbody>
                {% for id,label in tab_id_libre %}
                    {% if label == 'Libre comme l\'air' %}
                    <tr class="code_dispo">

                            <td class="bg-success">{{ id }}</td>
                            <td>{{ label }}</td>
                    </tr>
                        {% else %}
                            <tr class="code_indispo">
                            <td>{{ id }}</td>
                            <td>{{ label }}</td>

                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}