{% extends 'objet/index.html.twig' %}
{% block menu_header_suppl %}
  <a href="{{ path('product_listing') }}" class="btn btn-info">Listing des produits</a>
  <a href="{{ path('productfrom_listing') }}" class="btn btn-info">Verif prix vrac</a>
  <a href="{{ path('product_id_libre') }}" class="btn btn-info">Code barre disponible</a>
  <a href="{{ path('label_index') }}" class="btn btn-primary"><i class="fa fa-tags"></i> Étiquettes</a>
  <a href="{{ path('product_classify') }}" class="btn btn-warning"><i class="fas fa-exchange-alt"></i> Classement</a>
  <a href="{{ path('product_edition_massive') }}" class="btn btn-warning"><i class="fas fa-list-alt"></i> Traitement de masse</a>
{% endblock %}
