{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-3">
        {% if objet_action is defined and objet_action is not empty %}
				<div class="back">
					<a href={{  path(page) }}" class="btn btn-default">{{'retour_liste'|trans }}</a>
				</div>
		{% else %}
                <a href="{{  path('homepage') }}" class="btn btn-default">{{'retour'|trans }}</a>
        {% endif %}
    </div>

    {% block contenu %}
	<!-- Colonne principal-->
	<div id="contenu" class="col-sm-8">
	    <div class="box box-default">
		<div class="box-header">
		    <h2>{{ page|trans }}</h2>
		</div>
		<div class="box-body">
		    {% block formulaire %}
				<div id="formualire_impression_carte">
				<dl class="dl-horizontal">
					<dt>Nombre d'étiquette</dt>
					<dd>{{ nb_label }}</dd>
				</dl>
				{% if nb_label > 0 %}
					<hr />
					{% include('inclure/form.html.twig') %}
				{% endif %}
				<hr />
				<div class="depliable">
					<div class="gachette">Réglage d'impression</div>
					<div class="depliant">
						{% include('inclure/form.html.twig') with {'form':form_pref} only  %}
					</div>
				</div>
				<script type="application/javascript">
					$(document).ready(function(){
						initialisation_depliable();
					});
				</script>
				</div>
			{% endblock %}
		</div>
	    </div>
	</div>



    {% endblock %}
{% endblock %}

