{% extends 'base'~(layout??'')~'.html.twig' %}
{% block content %}
    {{ layout_cplt() }}

    {% if not pdf %}
        <div id="contenu">
        <div class="float-right">

        </div>
        <div class="row">

              <!-- Colonne principal-->
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 bon_de_commande">
                <div class="box">
                    <div class="box-body">
        <div class="btn-group float-right">{% set args_temp = args|merge({'format':'pdf'}) %}
            <a href="{{ path('product_grid')}}" class="btn btn-primary">Afficher la grille</a>
            <a href="{{ path('product_listing',args_temp)}}" class="btn btn-success"><i class="fa fa-file-pdf"></i> Version PDF</a>
        </div>

        <input type="checkbox" id="petit_code" name="petit_code" value="10000" {% if args['petit_code']== '10000' %}checked="checked"  {% set args_temp = args|merge({'petit_code':''}) %}{% else %}  {% set args_temp = args|merge({'petit_code':'10000'}) %}{% endif %} onchange="redirection('{{ path('product_listing',args_temp)}}');" /><label for="petit_code">Afficher les petits codes</label>

        <input type="checkbox" id="produit_inactif" name="produit_inactif" value="1" {% if args['inactif']== 1 %}checked="checked" {% set  args_temp= args|merge({'inactif':''}) %}{% else %}  {% set args_temp = args|merge({'inactif':'1'}) %}{% endif %} onchange="redirection('{{ path('product_listing',args_temp)}}')" /><label for="produit_inactif">Afficher uniquement les produits actifs</label>
    {% endif %}
    <h3> Liste des produits</h3>
    {% for cat in tab_cat %}
    {% if cat.nb >0 %}
            <div class="cat_niv{{ cat.niveau }}">{{ cat.label }} ({{ cat.nb }})</div>
                    {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
                    <table class="table">
                        {% for produit in tab_produit_cat %}
                            <tr>
                                <td class="td20 text-left">
                                    <small>{{ produit.barcode }}</small>
                                </td>
                                <td class="td60 text-left">{{ produit.label|upper }}</td>
                                <td  class="td10">
                                    {{ contenance_affichage(produit.contenance,produit.contenance_unite) }}
                                </td>
                                <td class="td10">
                                  {{ produit.prix }} {{ currency_symbol }}
                                </td>
                                {% if not pdf %}
                                <td class="td10">
                                    {{ bouton('voir',{'objet':'product','id':produit.id,'class_cplt':'btn-sm'}) }}
                                </td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                        </table>
    {% endif %}
    {% endfor %}
    {% if not pdf %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endif %}
{% endblock %}
