{% extends 'objet/show.html.twig' %}

{% block content %}
    <!-- Colonne principal-->
    <div class="row">
        <div class="col-sm-8 product">
            <div class="box">

                <div class="box-body">
                    <div class="float-right">
                        <div class="btn-group">
                            <a href="{{ path('label_print_product',{'product_id':product.id}) }}" class="btn btn-primary modal-form"
                               title="{{ 'print_label'|trans }}"><i class="fa fa-print"></i></a>
                            <a href="{{ path('product_label_change',{id:product.id}) }}" class="btn btn-ajax-switch{% if product.productExtra is defined and product.productExtra.labelToPrint is defined and product.productExtra.labelToPrint!=false %} btn-primary{% else %} btn-secondary{% endif %}" title="Ajouter/retirer à la liste des étiquettes à imprimer">
                                <i class="fa fa-tag"></i>
                            </a>
                            {{ bouton('modifier', {'class_cplt':'modal-form','bt_texte':true}) }}
                            {{ bouton('supprimer', {'bt_texte':true}) }}
                        </div>
                    </div>

                    <h2>{{ product.label }}</h2>

                    <div class="row">
                        <div class="col-md-3">
                            {% if product.hasImage() %}
                                <img class="thumbnail img-fluid img-rounded"
                                     src="{{ path('image',{'objet':'product','id_objet':product.id}) }}" align="left"
                                     width="200px"/>
                            {% else %}
                                <i class="ico ico-product ico-5x"></i>
                            {% endif %}
                            <div class="clearfix"></div>
                            <div>
                                Changer l'image
                                {{ form(form_image) }}
                                <a class="btn btn-block btn-danger" href="{{ path('product_image_delete',{'id':product.id}) }}"> Supprimer l'image</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <dl class="dl-horizontal">

                                <dt>{{ 'Reference'|trans }}</dt>
                                <dd>{{ product.reference }}</dd>

                                <dt> {{ 'Code'|trans }}</dt>
                                <dd>{{ product.barcode }} </dd>

                                <dt>{{ 'Category'|trans }}</dt>
                                <dd>
                                    <a href="{{ path('category_show',{'id':product.category.id}) }}">{{ product.category.label }}</a>
                                </dd>

                                <dt> {{ 'Prix d\'achat'|trans }}</dt>
                                <dd>{{ product.priceBuy }} {{ currency_symbol }}</dd>

                                <dt>{{ 'Prix de vente (hors taxe)'|trans }}</dt>
                                <dd>{{ product.priceSell }} {{ currency_symbol }}</dd>

                                <dt>{{ 'Prix de vente TTC'|trans }}</dt>
                                <dd>{{ product.TaxedPrice }} {{ currency_symbol }}</dd>

                                <dt>{{ 'Margin Rate'|trans }}</dt>
                                <dd>{{ product.marginRate|round(2, 'floor') }}</dd>

                                <dt>{{ 'Tax'|trans }}</dt>
                                <dd>{{ product.tax.label }}</dd>

                                <dt>{{ 'Scaled'|trans }}</dt>
                                <dd>{% if product.scaled %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</dd>

                                <dt>{{ 'Scale type'|trans }}</dt>
                                <dd>{% if product.scaleType %}{{ product.scaleType|measureUnit|trans }}{% else %}{{ 'unknown'|trans }}{% endif %}</dd>

                                <dt>{{ 'Scale value'|trans }}</dt>
                                <dd>{% if product.scaleValue %}{{ product.scaleValue }}{% else %}{{ 'unknown'|trans }}{% endif %}</dd>

                            </dl>

                            {% if  product.productExtra is null or (product.productExtra.fromProduct is defined and product.productExtra.fromProduct is null ) %}
                                <div class="el from">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    Si ce produit est issu d'un autre produit, appuyer <a href="{{ path('product_from',{'id':product.id,'redirect':url_courante()}) }}" class="modal-form" title="Lier un produit">ici</a> pour les lier.
                                </div>
                            {% else %}
                                <div class="el from">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    Ce produit est issu du produit
                                    {{ product.productExtra.fromProduct.barcode }} -
                                    {{ product.productExtra.fromProduct.label }}
                                    <a href="{{ path('product_from',{'id':product.id}) }}" class="modal-form btn btn-sm btn-warning" title="Lier un produit">Changer</a>
                                    <a href="{{ path('product_from_delete',{'id':product.id}) }}" class="btn btn-sm btn-danger" title="Supprimer le lien un produit">Supprimer le lien</a>
                                </div>

                            {% endif %}

                            <div class="el mot">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                {% set mot_cle = product_ext.mots %}
                                {% if mot_cle is not empty %}
                                    {{mot_cle|join(', ') }}
                                {% else %}
                                    Aucun
                                {% endif %}
                            </div>


                            {% if product.visible == false %}
                                <p>{{ 'Ce produit n\'est pas affiché au catalogue.'|trans }}</p>{% endif %}
                        </div>
                    </div>

                </div>
            </div>


<div class="box">
<div class="box-header">
    <div class="float-right">
        {{ bouton('ajouter', {'objet':'productsupplier','args':{'product_id':product.id },'redirect':url_courante(),'class_cplt':'btn-sm','nom':'Ajouter une ref. fournisseur','bt_texte':true}) }}
    </div>
    <h3 class="box-title">Fournisseur</h3></div>
    <div class="box-body">
        <div class="el suppliers">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>favori</th>
                    <th>Nom</th>
                    <th>Reference</th>
                    <th>Colissage</th>
                    <th>Prix d'achat</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for i,ref_supplier in product.productSuppliers %}
                    <tr>
                        <td>{% if ref_supplier.favori %}<i class="fa fa-star"></i> {% endif %}</td>
                        <td><a href="{{ path('supplier_show',{'id':ref_supplier.supplier.id}) }}">{{ ref_supplier.supplier.name }}</a></td>
                        <td>{{ ref_supplier.reference }}</td>
                        <td>{{ ref_supplier.colisage }}</td>
                        <td>
                            {{ ref_supplier.priceBuy }}
                        </td>
                        <td>
                            <div class="input-group">
                            {{ bouton('modifier', {'objet':'productsupplier','id':ref_supplier.id,'redirect':url_courante(),'class_cplt':'modal-form btn-sm'}) }}
                            {{ bouton('supprimer', {'objet':'productsupplier','id':ref_supplier.id,'redirect':url_courante(),'class_cplt':'btn-sm'}) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


    </div></div>




        </div>

        <!-- Colonne de droite-->
        <div id="aside" class="col-sm-4">

            <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'History'|trans }} </h5>
                </div>
                <div class="box-body">

                </div>
            </div>

            <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'Stat'|trans }} </h5>
                </div>
                <div class="box-body">

                    <div id="chart_sales" style="height: 250px;"></div>

                    <script type="application/javascript">

                        new Morris.Line({
                            element: 'chart_sales', data: [    {% for mois,stat in tab_stat %}
                                {mois: '{{ mois }}', value: {{ stat }} }{% if not loop.last %},{% endif %}
                                {% endfor %}
                            ],
                            xkey: 'mois',
                            ykeys: ['value'],
                            labels: ['Vente']
                        });

                    </script>

                    <table class="table table-stripped">
                        {% for mois,stat in tab_stat %}
                            <tr>
                                <td>{{ mois }}</td>
                                <td>{{ stat }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
