{% extends 'base.html.twig' %}
{% block content %}
    <div id="contenu" >
        <div class="box">
        {% if selection is not defined %}{% set selection = false %}{% endif %}
        {% if querybuilder is not defined %}{% set querybuilder = false %}{% endif %}
        {% if barre_filtre is not defined %}{% set barre_filtre = true %}{% endif %}
        <div id="super_tableau_{{ objet_bloc }}">


            {% if barre_filtre %}
            <div id="filtres"  class="filtres menu_filtres">
                <nav class="navbar navbar-expand-lg">
                    {% include('inclure/barre_filtre.html.twig') with{'objet':objet_bloc,'tab_filtres':datatable.filtres,'querybuilder':querybuilder} only %}
                    {% block index_navbar %}
                    {% endblock %}
                </nav>
            </div>
            {% endif %}
            <div class="haut_de_table">
                <a href='{{ path('preference_edit',{'pref':objet_bloc~'|index|datatable','redirect': url_courante()}) }}' class="btn btn-secondary modal-form float-right"><i class="fa fa-cog"></i></a>
                {% include('inclure/trier_par.html.twig') with{'tab_tri':datatable.tab_tri} only %}
                {% include('inclure/nb_resultat.html.twig') with{'objet_bloc':objet_bloc}  only %}
            </div>
            {% if barre_filtre %}
                <div id="filtre_en_cours">
                    {% if datatable.selection is defined and datatable.selection %}
                        <a id="btn_selection" class="btn btn-secondary btn-modal btn-sm float-left"  title="Liste des selections" data-selecteur="choix_selection">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </a>
                        <div id="choix_selection" data-rel="super_tableau_{{ objet_bloc }}" class="d-none">
                            {% include 'inclure/selection.html.twig' with {'objet_bloc':objet_bloc} only %}
                        </div>
                    {% endif %}
                    <div class="titre">Filtre en cours : <span class="titre_ko">Aucun filtre</span></div>
                    <ul class="list-inline"></ul>
                </div>
            {% endif %}
            {% if datatable.mode_affichage !='datagrid' %}
                {% include('inclure/table_col.html.twig') with{'tab_col':datatable.colonnes,class : 'table ajaxdatatable'} only %}
            {% endif %}
        </div>
        {% if datatable.mode_affichage=='datagrid' %}
            {% include('inclure/grid_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
        {% else %}
            {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
        {% endif %}
    </div>
    </div>

{% endblock %}


