{% extends 'base_zero.html.twig' %}

{% block title %}Create {{ sac('objet') }}{% endblock %}

{% block body %}
    <h1>Create sac('objet')</h1>
    {% block formulaire %}
        {{ include('objet/_form.html.twig', {'button_label': 'Create'}) }}
    {% endblock %}
{% endblock %}