{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <div id="contenu">
        <div class="box">
            <div id="super_tableau_{{ objet }}">
                <nav class="navbar navbar-default">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {{ bouton('add', {'class_cplt':'modal-form','bt_texte':true}) }}
                        </li>
                    </ul>
                 </nav>
                <div class="box-body">
                    {% for etape in tab_etape %}
                        <div class="col-lg-3">
                            <div class="panel">
                                <div class="panel-title">{{ etape.numero }}. {{ etape.nom }}</div>
                                <div class="panel-body">
                                    <p>{{ etape.descriptif }}</p>
                                    {% set stat = etape.stat %}
                                    {% if stat.a_faire+stat.fait==0 %}
                                        Probleme dans la creation de l'étape
                                    {% else %}
                                    {% if stat.a_faire==0 %}
                                        Terminé ({{ stat.fait }} produits)
                                    {% else %}
                                        {{ stat.a_faire }} produits reste à saisir - {{ stat.fait }} déjà renseignés
                                    {% endif %}

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ stat.fait }}" aria-valuemin="0" aria-valuemax="{{ stat.a_faire+stat.fait }}" style="width: {{ (stat.fait/(stat.fait+stat.a_faire))*100 }}%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <a class="btn btn-primary btn-block" href="{{ path('etape',{'id':etape.id}) }}">Voir l'étape</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

      </div>

{% endblock %}

