{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
<div id="contenu">
    <div class="row">
        <!-- Colonne principal-->
        <div class="col-sm-8 etape">
            <div class="box">
                <div class="box-body">
                    <div class="float-right">
                        <div class="btn-group">
                            {{ bouton('modifier', {'objet':'etape','args':{'idEtape':objet_data.id},'class_cplt':'modal-form','bt_texte':true}) }}
                            {{ bouton('supprimer', {'objet':'etape','args':{'idEtape':objet_data.id},'bt_texte':true}) }}
                        </div>
                    </div>

                    <h2>{{ objet_data.nom }}</h2>
                    <ul>
                    {% for id_location,location in tab_location %}
                        <li>
                            <h3>{{ location.nom }}</h3>
                            {% if location.a_faire==0 %}
                                Tout est ok ({{ location.fait }} produits)
                            {% else %}
                                {{ location.a_faire }} produits reste à saisir
                           {% endif %}
                            {% if location.a_faire>0 %}
                            -  <a href="{{ path('etic_show',{action:'liste_produit','id':objet_data.id,'id_location':id_location}) }}" class="ajax_remplace" data-cible="#produt-location{{ id_location }}">voir la liste</a>

                                <div class="my-3">
                                    <a href="{{ path('etic_etape_go',{'idEtape':objet_data.id,'action':'saisie','id':objet_data.id,'id_location':id_location}) }}" class="btn btn-success btn-block"> <i class="fa fa-rocket"></i> Lancer</a>
                                </div>

                             <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ location.fait }}" aria-valuemin="0" aria-valuemax="{{ location.a_faire+location.fait }}" style="width:{% if (location.fait+location.a_faire) ==0 %} 0{% else %} {{ ((location.fait/(location.fait+location.a_faire))*100) }}%{% endif %}">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>

                            {% endif %}


                            <div id="produt-location{{ id_location }}"></div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Colonne de gauche-->
        <div id="aside" class="col-sm-4">
            <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'Informations'|trans }}
                    </h5>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>
    {% endblock %}
