{% extends 'base.html.twig' %}

{% block title %}Etic Etape{% endblock %}
   {% block menu_header_suppl %}

       {{ bouton('ajouter', {'objet':'etape','bt_texte':true}) }}

   {% endblock %}
{% block content %}
    <div id="contenu">
        <div class="box">
            <div id="super_tableau_etape">
                <nav class="navbar navbar-default">


                </nav>
                <div class="box-body">
                    {% for etape in tab_etape %}
                        <div class="col-lg-3">
                            <div class="panel">
                                <div class="panel-title">{{ etape.numero }}. {{ etape.nom }}</div>
                                <div class="panel-body">
                                    <p>{{ etape.descriptif }}</p>
                                    {% if etape_ext is defined  %}
                                    {% set stat = etape_ext.stat %}
                                    {% if stat.a_faire+stat.fait==0 %}
                                        Probleme dans la creation de l'étape
                                    {% else %}
                                        {% if stat.a_faire==0 %}
                                            Terminé ({{ stat.fait }} produits)
                                        {% else %}
                                            {{ stat.a_faire }} produits reste à saisir - {{ stat.fait }} déjà renseignés
                                        {% endif %}

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ stat.fait }}" aria-valuemin="0" aria-valuemax="{{ stat.a_faire+stat.fait }}" style="width: {{ (stat.fait/(stat.fait+stat.a_faire))*100 }}%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                    <a class="btn btn-primary btn-block" href="{{ path('etic_show',{'id':etape.id}) }}">Voir l'étape</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
