{% extends 'layout_basic.html.twig' %}
{% block content %}

<div class="col-md-4 col-md-offset-4">
    <div id="contenu">
    <div class="box">

    <div class="box-header">
        <h3>{{ titre_formulaire }}</h3>
    </div>
    <div class="box-body">



        {% form_theme form with ['form_large.html.twig'] %}
        <div class="text-center">
        {% if product.hasImage() %}

            <img class="thumbnail  img-rounded center-block"
                 src="{{ path('image',{'model':'product','modelId':product.id}) }}"  width="400px"/>
        {% else %}
            <i class="ico ico-product ico-5x"></i>
        {% endif %}</div>
        <div class="clearfix"></div>

        <dl class="dl-horizontal">


            <dt> {{ 'Label'|trans }}</dt>
            <dd>{{ product.label }} </dd>

            <dt> {{ 'Code'|trans }}</dt>
            <dd>{{ product.barcode }} </dd>

            <dt>{{ 'Category'|trans }}</dt>
            <dd>
                {{ product.category.label }}
            </dd>

            <dt>Vendu en vrac</dt>
            <dd>
                {% if product.scaled %}oui{% else %}non  {% endif %}
            </dd>

        </dl>

        {{ form_start(form) }}
        {{ form_errors(form) }}


        {{ form_row(form.product_id) }}
        {{ form_row(form.scaleTypeBool) }}
<div class="row">
                <div class="form-group champs_dates">
                    {{ form_label(form.scaleValue) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.scaleValue) }}
                    </div>

                    <div class="col-sm-5 champs_date_fin">
                        {{ form_widget(form.scaleType) }}
                    </div>
                    {{ form_errors(form.scaleType) }}
                    {{ form_errors(form.scaleValue) }}
                </div>
</div>

        {{ form(form) }}
        <a href="{{ path('etape',{id:sac('id')}) }}">revenir à l'étape</a>
        <script type="application/javascript">
            $(document).ready(function() {
                conteneur_form = $('form[name={{ form.vars.name }}]');
                initialisation_composant_form(conteneur_form);

                $('#product_scaleTypeBool',conteneur_form).change(function(){
                    $('select#product_scaleType options',conteneur_form).removeAttr("selected");
                    $('select#product_scaleType options',conteneur_form).attr("disabled");
                    if ($(this).is(':checked')){

                        if ($('select#product_scaleType ').val()==0){
                            $('select#product_scaleType ').val(1)
                        }

                     }else{
                        if ($('select#product_scaleType ').val()!=0){
                            $('select#product_scaleType ').val(0);

                        }

                    }

                });

                $('#product_scaleTypeBool',conteneur_form).trigger('change');
                $('input#product_scaleValue',conteneur_form).focus().select();


            });




        </script>

    </div>
    </div>

</div>



</div>

{% endblock %}
