{% extends 'base.html.twig' %}



{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="aside">

                    <div class="box">
                    <div class="box-body">
                        <div class=" float-right">
                            {{ bouton('modifier') }}
                            {{ bouton('supprimer') }}
                        </div>
                        <div class="numero">{{ objet_data.primaryKey }}</div>
                        {% if objet_data.name is defined  %}
                        <div class="nom h2">{{ objet_data.name }}</div>
                        {% endif %}
                        <dl class="dl-horizontal">

                        </dl>
                        </div>
                    </div>


                <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-default"><i class="fa fa-backward"></i> back to list</a>
            </div>
        </div>
        <div class="col-md-8">
            <div id="contenu">
            <div class="box">
                <div class="box-body">
                    {{ objet_data.permissions|join(', ') }}
                </div>
            </div>
        </div>
    </div>
    </div>





{% endblock %}