// |--------------------------------------------------------------------------
// | Pace bootstrap theme
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .pace
// |


// --------------------------------------------------
// Mixins
// --------------------------------------------------


@import "functions";
@import "variables";
@import "mixins";
@import "../variables_perso";
// --------------------------------------------------
// Variables
// --------------------------------------------------

@import "variables_pace";



// --------------------------------------------------
// Styling
// --------------------------------------------------

.pace {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $pace-zindex;

  width: 100%;
  
  pointer-events: none;
  user-select: none;

  transform: translate3d(0, -50px, 0);
  transition: transform $pace-transition-time ease-in-out;

  &.pace-active {
    transform: translate3d(0, 0, 0);
  }

  .pace-progress {
    display: block;
    
    position: fixed;
    top: 0;
    right: 100%;

    width: 100%;
    height: $pace-height;
    
    background: $pace-background-color;

    pointer-events: none;
  }
}

.pace-inactive {
  display: none;
}

