<div class="modal fade" tabindex="-1" role="dialog" id="{{id}}">
    <div class="modal-dialog {{class_cplt}}">
        <div class="modal-content">
            <div class="modal-header">
                {{#titre}}
                <h5 class="modal-title">{{titre}}</h5>
                {{/titre}}
                {{#close}}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {{/close}}
            </div>
            <div class="modal-body">
                {{{body}}}
            </div>
            {{#footer}}
            <div class="modal-footer">
                {{{footer}}}
            </div>
            {{/footer}}
        </div>
    </div>
</div>