<div class="notification_simple" id="notification{{id_notification}}" class="{{ class }}">
    <div class="message">
    {{#icon}} <i class="fa fa-icon"></i>   {{/icon}} <h4>{{ nom }}</h4><p>{{message}}</p>
    </div>
    <div class="action">
        <a class="btn btn-danger btn-sm force-tooltip "  title="supprimer" data-placement="bottom" id="lien_supprimer">
        <i class="fa fa-trash-alt"></i>
    </a>
    </div>
</div>