<span class="etat"><span class="valeur"></span></span>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-name="{{name}}" data-selecteur="{{selecteur}}">
        Ajouter un critère <i class="fa fa-sort"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right trier_par_selection"></div>
</div>