{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block content %}
<div id="contenu">
    <div class="row">
        <!-- Colonne principal-->
        <div class="col-sm-8 resource">
            <div class="box">

            <div class="box-body">
                <div class="float-right">
                    <div class="btn-group">
                        {{ bouton('modify', {'id':'label','label':objet_data.label,'class_cplt':'modal-form','bt_texte':true}) }}
                        {{ bouton('delete', {'id':'label','bt_texte':true}) }}
                    </div>
                </div>

                <h2>{{ objet_data.label }}</h2>

                <div class="container-flulabel">

                    <div class="col-md-3">
                              <i class="ico ico-resource ico-5x"></i>
                    </div>

                    <div class="col-md-9">
                        <dl class="dl-horizontal">

                            <dt>{{ 'type'|trans }}</dt>
                            <dd>{{ objet_data.type }}</dd>

                        </dl>

                    </div>
                </div>
                </div>
                </div>
            <div class="box">
                <div class="box-body">
                    {{ objet_data.content }}
                </div>
            </div>

        </div>





    </div>
    </div>



{% endblock %}
