{% extends 'base.html.twig' %}
 {% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-7">
        <div class="box">
            <div class="box-body">
                <h1>Pastèque-admin <small>Interface d'administration</small></h1>
                <p>Vous êtes dans votre interface d'administration où vous pouvez créer vos produits, catégories, accéder à
                    vos statistiques de ventes etc.</p>
                <h2>Téléchargement</h2>
                <p>Pour enregistrer des ventes,  deux clients existent : </p>
                <ul>
                    <li><a href="http://downloads.pasteque.org/android/pasteque-android.apk">La version android</a>,
                        pour tablettes
                    </li>
                    <li><a href="http://downloads.pasteque.org/desktop/pasteque-desktop-installer.jar">La version <i>Desktop</i>
                            (pour Windows, MacOS, Gnu/Linux …)</a></li>
                </ul>
                <p></p>

                <h2>Documentation</h2>

                <p>Il y a plusieurs sources de documentation :
                </p>
                <ul>
                    <li><a href="https://fr.wikibooks.org/wiki/Logiciel_Past%C3%A8que">Manuel d’installation, de
                            configuration et d’utilisation sur wikibooks</a></li>
                    <li><a href="https://framagit.org/groups/pasteque/-/issues">Le bug tracker</a></li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>

    <div class="col-md-5">

        <div class="box">

            <div class="box-header"><h3>Actualités</h3></div>
            <div class="box-body lazyload" data-url="{{ path('rss') }}" id="actu-rss">
            </div>
        </div>
    </div>

    </div>
{% endblock %}