<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% include 'inclure/head.html.twig' with {'title': application_nom~'-'~(sac('page')|trans) } only %}
    <script src="{{ path('vars_js') }}?version={{ version|replace({".":'-'}) }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/scripts.js') }}?version={{ version|replace({".":'-'}) }}" type="text/javascript"></script>
    {% if js_suppl is defined %}
        <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
    {% endif %}
    {% block head_cplt %}{% endblock %}
</head>

<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">
    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->
    {% block menu %}
        {% include 'menu.html.twig' %}
    {% endblock %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="content-header">
                {% block header %}
                    {% block menu_header %}
                        <div id="menu_page_droite" class="float-right">
                            {% block menu_header_suppl %}
                            {% endblock %}
                            {% block menu_page_droite %}
                                {% for lignefil in menu_page_droite() %}
                                    {% include('inclure/lien.html.twig') with lignefil only %}
                                {% endfor %}
                            {% endblock %}
                            {% block documentation %}
                                <a href="{{ documentation_lien() }}" class="btn btn-default modaliframe"><i
                                            class="fa fa-life-ring" aria-hidden="true"></i></a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </section>
            <div class="clearfix"></div>
        </div>

        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}

                    <div class="col-12">
                        <div class="alert alert-{{ alert }}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message|trans|raw }}
                        </div>
                    </div>

            {% endfor %}
        {% endfor %}

        <div class="a_cheval">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% include 'inclure/footer.html.twig' only %}
{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}?version={{ version|replace({".":'-'}) }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
    {% if tache_a_executer() %}
        {% include 'inclure/robot.html.twig' only %}
    {% endif %}
{% endblock %}
</body>
</html>
