<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{{ title??'' }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="Declic3000">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/css/styles.css') }}?version={{ version|replace({".":'-'}) }}" type="text/css" title="Main CSS" />
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/css/styles_pdf.css') }}?version={{ version|replace({".":'-'}) }}" type="text/css" title="" />
    {% block head_cplt %}{% endblock %}
</head>
<body class="pdf">
<div class="wrapper">
    {% block breadcrumb %}{% endblock %}
    {% block content %}
        {% block aside %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    {% endblock %}
</div>
</body>
</html>
