{% extends 'layout.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

    <div id="contenu">
        <div class="box">
<div class="ne"></div>


            <nav class="navbar navbar-default">
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>
        <form action="{{ url_courante }}" class="form form-inline" method="get">
        <fieldset>
            <div class="navbar-form navbar-left">

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label" for="datefilter">Période</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input id="datefilter" name="datefilter" placeholder="" class="form-control form-md" required="" type="text">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="control-label" for="singlebutton"></label>
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Rechercher</button>
            </div>
            </div>

        </fieldset>
        </form>
            </li></ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="{{ url_courante }}&format=csv" class="btn btn-default" ><i class="fa fa-file-excel-o"></i> Exporter au format tableur</a></li>
            </ul>
            </div>

    </nav>



<table class="table table-responsive table-striped">

<thead>
    <tr role="row" class="tablesorter-headerRow">
      <th>Caisse</th>
      <th>Session</th>
      <th>open date</th>
      <th>close date</th>
      <th>open cash</th>
      <th>close cash</th>
      <th>Expected cash</th>
      <th>ticket count</th>
      <th>Amount</th>
        {% for tax in tab_tax %}
            <th> HT {{ tax.rate }}</th>
        {% endfor %}
        {% for tax in tab_tax %}
            <th>{{ tax.label }}</th>
        {% endfor %}
        {% for payment in tab_paymentmode %}
            <th>{{ payment.label }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
{% for s in tab_session %}
<tr>
    <td>{{ s.cashregister.id }}</td>
    <td>{{ s.id }}</td>
    <td>{{ s.openDate|date('d/m/Y H:i:s') }}</td>
    <td>{{ s.closeDate|date('d/m/Y H:i:s') }}</td>
    <td>{{ s.openCash }}</td>
    <td>{{ s.closeCash }}</td>
    <td>{{ s.expectedCash }}</td>
    <td>{{ s.ticketCount }}</td>
    <td>{{ s.cs }}</td>
    {% for tax in tab_tax %}
        <td>{{ table_cherche(s.taxes,'tax',tax.id,'base') }}</td>
    {% endfor %}
    {% for tax in tab_tax %}
        <td>{{ table_cherche(s.taxes,'tax',tax.id) }}</td>
    {% endfor %}
    {% for payment in tab_paymentmode %}
        <td>{{ table_cherche(s.payments,'paymentMode',payment.id) }}</td>
    {% endfor %}

</tr>
{% endfor %}
</tbody>
</table>



    <script>

        $(document).ready(function(){

            $('#tableau_vente .glyphicon').click(function(){
                tr=$(this).parent().parent();
                if ($(tr).hasClass('unfold')) {

                    $(this).removeClass('glyphicon-circle-arrow-down');
                    $(this).addClass('glyphicon-circle-arrow-right');
                    $(tr).next().slideUp();
                    $(tr).removeClass('unfold');
                }else
                {

                    $(this).removeClass('glyphicon-circle-arrow-right');
                    $(this).addClass('glyphicon-circle-arrow-down');
                    $(tr).next().slideDown();
                    $(tr).addClass('unfold');

                }
            });
            $('input[name="datefilter"]').daterangepicker({
                "autoApply": true,
                "showWeekNumbers": true,
                "ranges": {
                    "Aujourd'hui": [
                        "{{ tab_dates['aujourdhui'][0] }}",
                        "{{ tab_dates['aujourdhui'][1] }}"
                    ],
                    "Hier": [
                        "{{ tab_dates['hier'][0] }}",
                        "{{ tab_dates['hier'][1] }}"
                    ],
                    "Les 7 derniers jours": [
                        "{{ tab_dates['7jours'][0] }}",
                        "{{ tab_dates['7jours'][1] }}"
                    ],
                    "Les 30 derniers jours": [
                        "{{ tab_dates['30jours'][0] }}",
                        "{{ tab_dates['30jours'][1] }}"
                    ],
                    "Le mois en cours": [
                        "{{ tab_dates['mois_en_cours'][0] }}",
                        "{{ tab_dates['mois_en_cours'][1] }}"

                    ],
                    "Le mois dernier": [
                        "{{ tab_dates['mois_dernier'][0] }}",
                        "{{ tab_dates['mois_dernier'][1] }}"

                    ]
                },
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Appliquer",
                    "cancelLabel": "Annuler",
                    "fromLabel": "De",
                    "toLabel": "à",
                    "customRangeLabel": "Autre...",
                    "weekLabel": "S",
                    "daysOfWeek": [
                        "Di",
                        "Lu",
                        "Ma",
                        "Me",
                        "Je",
                        "Ve",
                        "Sa"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    "firstDay": 1
                },
                "startDate": "{{ tab_dates['date_start'] }}",
                "endDate": "{{ tab_dates['date_stop'] }}"
            })

        });

    </script>
         </div>

</div>
{% endblock %}
