<nav id='barre_navigation' class="navbar navbar-expand-lg navbar-light"
     role="navigation">

    {% include('inclure/entete_logo.html.twig') %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre_navigation_content"
            aria-controls="barre_navigation_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="barre_navigation_content">
        <ul class="navbar-nav">
            {% set menu_general = menu_general() %}
            {% for key, item in menu_general %}
                {% set autoriser=true %}
                {% if item.autorisation is defined %}
                    {% set autoriser = autoriser or autoriser(aut) %}
                {% endif %}
                {% if autoriser %}
                    {% if item['menu'] is defined %}

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">
                                {% if item['label'] is defined %}
                                    {{ item['label']|trans }}
                                {% else %}
                                    {{ key|trans }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" role="menu">
                                {% for k,i in item['menu'] %}
                                    {% if k|slice(0,1)=='#' %}
                                        <div class="dropdown-divider"></div>
                                    {% else %}
                                        {% if k|slice(0,4)=='http' %}
                                            <a href="{{ k }}" class="dropdown-item">{{ i|trans }}</a>
                                        {% else %}
                                            <a href="{{ path(k) }}" class="dropdown-item">{{ i|trans }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path(key) }}" role="button" aria-expanded="false" class="nav-link">
                                {% if item['label'] is defined %}
                                    {{ item['label']|trans }}
                                {% else %}
                                    {{ key }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li><a href="{{ path('sync') }}" class="btn btn-primary" title="Sync"><i class="fa fa-redo"></i></a></li>
        </ul>
        <!-- fin menu général -->
        <!-- acces direct recherche-->


        <form class="navbar-form navbar-left" role="search" action="{{ path('recherche') }}"
              method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input"
                       placeholder="{{ 'Barcode, product'|trans }}"
                       name="recherche"/>
            </div>
            <button type="submit" class="btn btn-default d-none">{{ 'Accès direct'|trans }}</button>
        </form>


        <!-- partie droite -->
        {% set  id_operateur = suc('operateur.id') %}
        <ul class="nav navbar-nav ml-md-auto">
            {% set tab_notifications = suc('notifications') %}
            <li class="nav-item dropdown notifications-menu" id="notifications_panel">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">{{ 'Vous avez nb notifications'|trans({nb:tab_notifications|length}) }}</div>
                    <ul class="menu"></ul>
                </div>
            </li>


            <!-- User Account Menu -->
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link " data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="hidden-xs"> {{ suc('operateur.nom') }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header user-header">

                        {# {{ image_mini('individu',id_operateur,"User Image")|raw  }} #}
                        <p>
                            {{ suc('operateur.nom') }}
                            <small>
                                fonction : {{ suc('operateur.profil') }}
                            </small>
                        </p>
                    </div>
                    <!-- Menu Body -->

                    <!-- Menu Footer-->
                    <div class="dropdown-footer user-footer">
                        <div class="row">
                            <div class="col-sm-4">

                                <a href="{{ path('moi') }}" class="btn btn-default btn-block btn-flat"
                                   title="{{ 'Votre profil'|trans }}"><span
                                            class="fa fa-user"></span>
                                </a>

                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('preferences',{'idIndividu':id_operateur }) }}"
                                   class="btn btn-default btn-block btn-flat" title="{{ 'preferences'|trans }}"><span
                                            class="fa fa-asterisk"></span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat btn-block"
                                   title="{{ 'Se déconnecter'|trans }}"><span
                                            class="fa fa-sign-out-alt"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- /.navbar-collapse -->
    </div>
</nav>


<script type="application/javascript">
    data_notifications = {{ tab_notifications|json_encode()|raw }};
</script>