{% extends 'base.html.twig' %}

    {% block content %}
    <div id="contenu" class="box box-danger">
        <div class="box-body">
            <h3><i class="fa fa-warning"></i> ERREUR</h3>
            <p>{{ message }}</p>
    </div>
    {% endblock %}


