{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <div id="contenu">
        <div class="box">
            <div id="super_tableau_{{ objet }}">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {{ bouton('add', {'class_cplt':'modal-form','bt_texte':true}) }}
                        </li>
                    </ul>
                    {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres,'selection':0} only %}
                </nav>
                <div class="box-body">
                    {% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class : 'ajaxdatatable'} only %}
                </div>
            </div>
        </div>
        {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet,'tab_col':tab_col,'tab_filtres':tab_filtres} only %}
    </div>
{% endblock %}