{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
   <!-- Colonne principal-->
    <div id="contenu">
        <div class="row">
     <div class="col-sm-8 product">
        <div class="box">

            <div class="box-body">
                <div class="float-right">
                    <div class="btn-group">
                        <a href="{{ path('label',{'product_id':product.id}) }}" class="btn btn-primary modal-form" title="{{ 'print_label'|trans }}"><i class="fa fa-tag"></i></a>
                        {{ bouton('modify', {'class_cplt':'modal-form','bt_texte':true}) }}

                        {{ bouton('delete', {'bt_texte':true}) }}
                    </div>
                </div>

                <h2>{{ product.label }}</h2>

                <div class="container-fluid">

                    <div class="col-md-3">
                        {% if product.hasImage() %}
                            <img class="thumbnail img-responsive img-rounded"
                             src="{{ path('image',{'model':'product','modelId':product.id}) }}" align="left" width="200px"/>
                        {% else %}
                            <i class="ico ico-product ico-5x"></i>
                        {% endif %}
                            <div class="clearfix"></div>
                            <div>
                                Changer l'image
                                {{ form(form_image) }}
                            </div>
                    </div>
                    <div class="col-md-9">
                        <dl class="dl-horizontal">

                            <dt>{{ 'Reference'|trans }}</dt>
                            <dd>{{ product.reference }}</dd>

                            <dt> {{ 'Code'|trans }}</dt>
                            <dd>{{ product.barcode }} </dd>

                            <dt>{{ 'Category'|trans }}</dt>
                            <dd>
                                <a href="{{ path('category_show',{'id':product.category.id}) }}">{{ product.category.label }}</a>
                            </dd>

                            <dt> {{ 'Prix d\'achat'|trans }}</dt>
                            <dd>{{ product.priceBuy }} {{currency_symbol}}</dd>

                            <dt>{{ 'Prix de vente (hors taxe)'|trans }}</dt>
                            <dd>{{ product.priceSell }} {{currency_symbol}}</dd>

                            <dt>{{ 'Prix de vente TTC'|trans }}</dt>
                            <dd>{{ product.TaxedPrice }} {{currency_symbol}}</dd>

                            <dt>{{ 'Margin Rate'|trans }}</dt>
                            <dd>{{ product.marginRate|round(2, 'floor') }}</dd>

                            <dt>{{ 'Tax'|trans }}</dt>
                            <dd>{{ product.tax.label }}</dd>

                             <dt>{{ 'Scaled'|trans }}</dt>
                             <dd>{% if product.scaled %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</dd>

                             <dt>{{ 'Scale type'|trans }}</dt>
                             <dd>{% if product.scaleType %}{{ product.scaleType|measureUnit|trans }}{% else %}{{ 'unknown'|trans }}{% endif %}</dd>

                             <dt>{{ 'Scale value'|trans }}</dt>
                             <dd>{% if product.scaleValue %}{{ product.scaleValue }}{% else %}{{ 'unknown'|trans }}{% endif %}</dd>


                        </dl>

                        {% if product.visible == false %}
                            <p>{{ 'Ce produit n\'est pas affiché au catalogue.'|trans }}</p>{% endif %}
                    </div>
                </div>

            </div>
        </div>
</div>

        <!-- Colonne de droite-->
        <div id="aside" class="col-sm-4">

            <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'History'|trans }} </h5>
                </div>
                <div class="box-body">

                </div>
            </div>

               <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'Stat'|trans }} </h5>
                </div>
                <div class="box-body">

		<div id="chart_sales" style="height: 250px;"></div>

<script type="application/javascript">

	new Morris.Line({
		element: 'chart_sales',data:[	{% for mois,stat in tab_stat %}
				{ mois : '{{mois}}',value: {{stat}} }{% if not loop.last %},{% endif %}
			{% endfor %}
		],
		xkey: 'mois',
		ykeys: ['value'],
		labels: ['Vente']
	});

</script>

<table class="table table-stripped">
{% for mois,stat in tab_stat %}
	   <tr>
		<td>{{mois}}</td>
		<td>{{stat}}</td>
		</tr>
{% endfor %}
</table>
                </div>
            </div>
        </div>
        </div>
        </div>


    </div>
{% endblock %}
