{% extends 'layout'~layout_cplt~'.html.twig' %}
{% block content %}
    <div id="contenu">
        <div class="box">
            <h1>Recherche</h1>

            <div class="box box-default">
                <div class="box-header">
                    <h3>Liste des produits <span class="small">{{ nb_product }}</span></h3>
                </div>
                <div class="box-body">
                    {% include('inclure/table_sta.html.twig') with {
                    'objet_bloc':'product',
                    'tab_col':donneTabCol('product'),
                    'donnees':tab_product} only %}
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header">
                    <h3>Liste des categories <span class="small">{{ nb_category }}</span></h3>
                </div>
                <div class="box-body">
                    {% include('inclure/table_sta.html.twig') with {
                    'objet_bloc':'category',
                    'tab_col':donneTabCol('category'),
                    'donnees':tab_category} only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

