{% extends 'layout.html.twig' %}
{% block header %}

{% endblock %}
{% block content %}

    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                {{ bouton('add', {'objet':'floor','class_cplt':'modal-form','bt_texte':true}) }}
            </li>
        </ul>

    <h1>{{ page|trans }}</h1>
        {% for floor in tab_floor %}
        <h2>{{ floor.label }}</h2>
            <h3>List of tables</h3>
            <ul>
            {% for place in tab_place %}
                <li data-id="{{ floor.id }}" data-x="{{ floor.x }}" data-y="{{ floor.y }}">
                    {{ floor.label }}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}

    </div>



<script type="text/javascript">
    var floorInit;



    // insert all floors and all places:
    foreach ($floors as $floor) {
        echo "floorInit = registerFloor(\"" . $floor->id . "\", \"" . $floor->label . "\");\n";
        foreach ($floor->places as $place) {
            echo "floorInit.registerPlace(\"" . $place->id . "\", \"" . $place->label
                    . "\", " . $place->x . ", " . $place->y. ");\n";
        }
    }

    showFloor();
</script>
{% endblock %}