{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="box">

        <div class="box-body">
            <div class="col-md-1 col-lg-offset-1">
                <i class="fa fa-4x fa-rocket"></i>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <p>Cette application a été initié et soutenu actuellement par l'assocation <a href="https://www.pasteque.org">Pastèque</a>

                        </p>
                        <h3>Remerciements</h3>
                        <p>Merci à tous les contributeurs des Logiciels des Libres de toutes sortes et plus particulièrement aux développeurs des dépendances utilisés par ce logiciel.</p>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-body">

                        version : {{ version }}

                    </div>
                </div>


            </div>


        </div>
    </div>


{% endblock %}
