{% extends 'base.html.twig' %}
{% block content %}
<div class="box">
    <div class="box-body">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="{{ path('inspector') }}" class="nav-link active"><i class="fa fa-stethoscope"></i></a>
                </li>
                <li role="presentation" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="drop_product" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Product
                    </a>
                    <div class="dropdown-menu" aria-labelledby="drop_product">
                        {% for action in menu.product  %}
                            <a href="{{ path('inspector',{'action':action}) }}" class="dropdown-item">{{ action|trans }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </nav>
        {% block tableau %}
            {% set action2 = action|split('_') %}
            {% if datatable is defined %}
            <h3 class="box-title"> {{ action|trans }}</h3>
            <script type="application/javascript">
                $(document).ready(function () {
                    $('#filtres select').change(function () {
                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );
                    $('#filtres input[type=checkbox]').change(function () {
                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );
                    $('#filtres input[type=text]').change(function () {
                                redirection('{{ url_courante() }}&' + $(this).attr('name') + '=' + $(this).val());
                                return false;
                            }
                    );
                });
            </script>
                {% include('inclure/table_dyn.html.twig') with{'objet_bloc':'product','datatable':datatable } only %}

            {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}
