{% extends 'base'~layout_cplt()~'.html.twig' %}
{% set id= objet_data.id %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">

        <div class="info-box">

                <span class="info-box-icon"><i class="fa fa-user" ></i></span>

            <div class="info-box-content">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {{ bouton('voir',{ 'objet':'user','id':objet_data.id,'tooltip':false}) }}
                        {{ bouton('modifier', {'objet':'user','id':objet_data.id,'class_cplt':'modal-form','redirect': sac('url_courante'),'tooltip':false}) }}
{#                        {{ bouton('changer_mdp',{class_cplt:'modal-form','objet':'user','id':objet_data.id,'redirect': sac('url_courante'),'tooltip_placement':'auto right'}) }}#}
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                type="button"><span class="caret"></span></button>
                    </div>
                </div>
                {% if membre is defined and objet_data.estTitulaireDuMembre(membre.idMembre) %}

                    <span class="label label-warning"><i
                                class="fa fa-crown"></i></span>
                {% endif %}



                &nbsp;{{ objet_data.id }}


                <h4 class="box-title">
                        {{ objet_data.name }}
                </h4>


                <div class="clearfix"></div>
            </div>


        </div>



        {#{% include('inclure/historique.html.twig') with {objet_data :objet_data} only %}#}

        <div class="back">
            <a href='{{ path('accueil') }}' class="btn btn-default">{{ 'retour_accueil'|trans }}</a>
        </div>

    </div>

    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-8">



    </div>

{% endblock %}

