{% extends 'base'~layout_cplt()~'.html.twig' %}

{% block content %}

    <h3>Construire sa requête</h3>
    {% block formulaire %}
        <div id="modal_querybuilder">

            <div id="liste_query">
                <ul class="list-unstyled"></ul>
            </div>

            <div class="margin">
        <a href="{{ path('querybuilder_ajouter',{'objet':objet}) }}" class="btn btn-success ajax_remplace" data-cible="#formulaire_query">Ajouter une requête</a>

                <div class="panel">
                <div class="panel-body">
                   <div id="formulaire_query"></div>
                    </div>
                </div>
            </div>

        <div id="result" class="hide"></div>


        <link rel="stylesheet" href="{{ asset('assets/css/querybuilder.css') }}" type="text/css" media="screen"/>
        <script src="{{ asset('assets/js/querybuilder.js') }}" type="text/javascript"></script>

        <script type="application/javascript">

            function initialisation_formulaire_query(){

                var options = {
                    allow_empty: true,
                    //default_filter: 'name',
                    sort_filters: true,

                    optgroups: {
                        core: {
                            en: 'Core',
                            fr: 'Coeur'
                        }
                    },

                    plugins: {
                        'bt-tooltip-errors': {delay: 100},
                        'sortable': null,
                        'filter-description': {mode: 'bootbox'},
                        'bt-selectpicker': null,
                        'unique-filter': null,
                        'bt-checkbox': {color: 'primary'},
                        'invert': null,
                        'not-group': null
                    },

                    // standard operators in custom optgroups
                    operators: [
                        {type: 'equal', optgroup: 'basic'},
                        {type: 'not_equal', optgroup: 'basic'},
                        {type: 'in', optgroup: 'basic'},
                        {type: 'not_in', optgroup: 'basic'},
                        {type: 'less', optgroup: 'numbers'},
                        {type: 'less_or_equal', optgroup: 'numbers'},
                        {type: 'greater', optgroup: 'numbers'},
                        {type: 'greater_or_equal', optgroup: 'numbers'},
                        {type: 'between', optgroup: 'numbers'},
                        {type: 'not_between', optgroup: 'numbers'},
                        {type: 'begins_with', optgroup: 'strings'},
                        {type: 'not_begins_with', optgroup: 'strings'},
                        {type: 'contains', optgroup: 'strings'},
                        {type: 'not_contains', optgroup: 'strings'},
                        {type: 'ends_with', optgroup: 'strings'},
                        {type: 'not_ends_with', optgroup: 'strings'},
                        {type: 'is_empty'},
                        {type: 'is_not_empty'},
                        {type: 'is_null'},
                        {type: 'is_not_null'}
                    ],

                    filters: {{ filtres|json_encode|raw }}

                };

                // init

                $('#query_query').before('<div id="builder"></div>');
                $('#builder').queryBuilder(options);


                // get rules
                $('#query_submit').on('click', function () {
                    $('#result').removeClass('hide')
                            .html(JSON.stringify(
                                    $('#builder').queryBuilder('getRules', {
                                        get_flags: true,
                                        skip_empty: true
                                    }),
                                    undefined, 2
                            ));

                    $('#query_query')
                            .val(JSON.stringify(
                                    $('#builder').queryBuilder('getRules', {
                                        get_flags: true,
                                        skip_empty: true
                                    }),
                                    undefined, 2
                            ));
                });


                var options = {
                    dataType:  'json',
                    data: { json: '1'  },
                    success: reagir_modal-form,
                    clearForm: true
                };

                $('.modal-body form',modal-form).ajaxForm(options);

            }


            function charge_liste_query(tab_query ){
                liste='';
                for (var i in tab_query){

                    liste += Mustache.render(window['templates']['query.html'](),
                            {   'num':i,
                                'url_form':'{{ path('querybuilder_ajouter',{'objet':objet,'num':''})|raw }}',
                                'url_delete':'{{ path('querybuilder_supprimer',{'objet':objet,'num':''})|raw }}',
                                'message':'{{ 'confirmation_suppression'|trans }}',
                                'nom':tab_query[i]['nom']
                            }
                    );
                }
                $('#liste_query ul').html(liste);
                initialisation_modal_confirm_supprimer('#liste_query');
                initialisation_ajax_remplace('#liste_query');
               $('#liste_query li').click(function(){

                    $('#query_num').val($(this).attr('data-value'))
                            .attr('data-name','{{ 'requete'|trans }}')
                            .attr('data-value',$(this).attr('data-name'));
                    $('#query_nom').val($(this).attr('data-name'));
                    $('#modal_jquerybuilder_modal').modal('hide');
                    $('#filtre_recherche').trigger('keyup');
                });

            }


            $('document').ready(function () {

                initialisation_ajax_remplace('#modal_querybuilder');
                charge_liste_query({{ tab_query|raw }});

            });



        </script>
        </div>
    {% endblock %}


{% endblock %}