<ul class="list-unstyled">
    {% for article in tab_article %}
    <li>
        <div class="badge badge-secondary float-right">Publié le {{ article.date_publication|format_datetime('medium', 'short',  locale='fr') }}</div>
        <h4> <a href="{{ article.link }}">{{ article.title }}</a></h4>
        <div class="texte">
            {{ article.description|raw }}
        </div></li>
    </li>
    {% endfor %}
</ul>