{% extends 'base'~layout_cplt()~'.html.twig' %}


{% block menu_header_suppl %}
    <li><a href='{{  path('preference_edit',{'pref':'statistique','redirect':'statistique'})}}'
       class="btn btn-default modal-form">
        <span class="fa fa-asterisk"></span> Options des statitisques
    </a></li>
{% endblock %}

        {% block content %}


        <!-- Colonne principal-->
        <div id="contenu" >
            <div class="box box-default">
                <div class="box-header">
                    <h1>Statistiques</h1>
                </div>
                <div class="box-body">


            <div class="col-sm-2" >
                <nav id="spy" class="hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="60"
                     data-offset-bottom="200">
                    <ul class="nav nav-pills nav-stacked left-menu">
                        {% for stat in tab_stat %}
                            <li ><a href="#title_{{ stat.identifiant  }}">{{ stat.titre }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if selection is defined %}
                        <div class="panel">
                            <div class="panel-body">
                                <p>Les statistiques sont construites à de la selection courante d'adhérent :</p>
                                <ul class="list-unstyled">
                                    {% for k,sel in selection %}
                                        {% if k=='search' %}
                                            {% if sel.value!='' %}
                                                <li>{{ k }} : {{ sel|join(', ') }}</li>
                                            {% endif %}
                                        {% else %}
                                            <li>{{ k }} : {{ sel|join(', ') }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <p><a href="{{ path('statistique') }}" class="btn btn-default btn-block">Statistique sur les adhérents</a></p>
                            </div>
                        </div>
                    {% endif %}

                </nav>
            </div>
            <div class="col-sm-10">



                {% for stat in tab_stat %}

                     <h3 id="title_{{ stat.identifiant  }}" >{{ stat.titre  }}</h3>
                    {% if stat.donnees_charts is not empty %}
                    <canvas id="chart_{{ stat.identifiant  }}" width="1000" height="400"></canvas>
                    <script>

                        $(document).ready(function() {

                            var options = {

                                responsive: true,
                                title:{
                                    display:false
                                },
                                scales: {
                                    xAxes: [{
                                        type: "time",
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }],
                                    yAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Nombre'
                                        }
                                    }]
                                },
                                legend : {'display':false }

                            };


                            var data = {
                                labels: [moment("{{ stat.donnees_charts|keys|join('"),moment("')|raw }}")],

                                datasets: [
                                    {
                                        label: "Total",
                                        fillColor: "rgba(210, 214, 222, 1)",
                                        strokeColor: "rgba(210, 214, 222, 1)",
                                        pointColor: "rgba(210, 214, 222, 1)",
                                        pointStrokeColor: "#c1c7d1",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: [{{ stat.donnees_charts|join(',') }}],

                                    }
                                ],

                            };

                            var ctx = $("#chart_{{ stat.identifiant }}").get(0).getContext("2d");

                            var myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: options
                            });



                        });
                    </script>

                    <div class="depliable">
                        <div class="gachette">Tableau</div>
                        <div class="depliant">
                            {{ stat.donnees|array2htmltable({th:true})|raw  }}
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}



                <script type="application/javascript">

                    $("document").ready(function () {

                        $("#menu-toggle").click(function (e) {
                            e.preventDefault();
                            $("#wrapper").toggleClass("active");
                        });

                        /*Scroll Spy*/
                        $('body').scrollspy({target: '#spy', offset: 80});

                        /*Smooth link animation*/
                        $('#spy a[href*=\\#]').click(function () {
                            var target = $(this.hash);
                            target = target.length ? target : $('[id=' + this.hash.slice(1) + ']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        });

                        initialisation_depliable();

                    });

                </script>


             </div>
             </div>
            </div>
        </div>




{% endblock %}

