{% extends 'base.html.twig' %}

{% block menu_header_suppl %}
    <li>
        {% include('inclure/lien.html.twig') with {'action': 'pref',
            'url' : path('preference_edit', {'pref' : 'timeline.defaut', 'redirect':'timeline'})} only %}
    </li>
{% endblock %}

{% block content %}

        <div class="col-sm-12">
            <div class="row">
                <div class="box">
                    <div class="box-header"><h3>Timeline</h3></div>

                    <div class="box-body">
                        {% include('inclure/timeline.html.twig') %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

