@font-face {
    font-family: "pastequefont";
    src: url('../fonts/pastequefont.eot');
    src: url('../fonts/pastequefont.eot?#iefix') format('eot'),
    url('../fonts/pastequefont.woff2') format('woff2'),
    url('../fonts/pastequefont.woff') format('woff'),
    url('../fonts/pastequefont.ttf') format('truetype'),
    url('../fonts/pastequefont.svg#pastequefont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico:before {
                     display: inline-block;
                     font-family: "pastequefont";
                     font-style: normal;
                     font-weight: normal;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.ico-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.ico-2x { font-size: 2em; }
.ico-3x { font-size: 3em; }
.ico-4x { font-size: 4em; }
.ico-5x { font-size: 5em; }
.ico-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.ico-pasteque:before { content: "\EA01" }
.ico-lievre:before { content: "\EA02" }
.ico-tortue:before { content: "\EA03" }
.ico-product:before { content: "\EA04" }
.ico-category:before { content: "\EA05" }