{% extends 'layout.html.twig' %}


{% block content %}
<div id="contenu">
<div class="box">
    <div class="box-body">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
                <a href="{{ path('inspector') }}"><i class="fa fa-stethoscope"></i></a>
            </li>

            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop_paiement" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Marge <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop_paiement">
                    <li>
                        <a href="{{ path('inspector',{'action':'marge','marge':'negative'}) }}">{{ 'Marge négative'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('inspector',{'action':'marge','marge':0}) }}">{{ 'Aucune marge'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('inspector',{'action':'marge','marge':'inferieur25'}) }}">{{ 'Marge inferieure à 25%'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('inspector',{'action':'marge','marge':'superieur35'}) }}">{{ 'Marge superieure à 35%'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop_geo" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Anomalie <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop_geo">
                    <li>
                        <a href="{{ path('inspector',{'action':'memecodebarre'}) }}">{{ 'Produits avec le même code barre'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('inspector',{'action':'memereference'}) }}">{{ 'Produits avec la même reference'|trans }}</a>
                    </li>

                </ul>
        </ul>

        {% if tab is defined %}



            <h3 class="box-title">  {{ action|trans }}   </h3>

            {% if tab_filtres is defined %}
                <div class="#filtres">
                    {% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres} only %}
                </div>

                <script type="application/javascript">

                    $(document).ready(function () {

                        $('#filtres select').change(function () {
                                    redirection('{{ url_courante }}&' + $(this).attr('name') + '=' + $(this).val());
                                    return false;
                                }
                        );

                        $('#filtres input[type=checkbox]').change(function () {

                                    redirection('{{ url_courante }}&' + $(this).attr('name') + '=' + $(this).val());
                                    return false;
                                }
                        );

                        $('#filtres input[type=text]').change(function () {
                                    redirection('{{ url_courante }}&' + $(this).attr('name') + '=' + $(this).val());
                                    return false;
                                }
                        );

                    })


                </script>

            {% endif %}

            {% if action  =='marge' %}

                {% set tab_col_exclure= [] %}
                {% set tri =[['id_individu','desc']] %}
                {% set tab_col = donneTabCol('product') %}

                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'product','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}

            {% elseif action  == 'memecodebarre' %}

                {% set tab_col_exclure= [] %}
                {% set tri =[['id_individu','desc']] %}
                {% set tab_col = donneTabCol('product') %}

                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'product','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}

            {% elseif action  == 'memereference' %}

                {% set tab_col_exclure= [] %}
                {% set tri =[['id_individu','desc']] %}
                {% set tab_col = donneTabCol('product') %}

                {% include('inclure/table_sta.html.twig') with{'objet_bloc':'product','charger_data':false,'data':tab,'tab_col':tab_col,tab_filtres:{},'tri':tri,'filtres_statiques':{} } only %}


            {% endif %}

        {% endif %}



    </div>
</div>
</div>
{% endblock %}
