{% extends 'base'~layout_cplt()~'.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="float-right"><a href="{{ path('product_index') }}" class="btn btn-secondary">{{ 'Back to the list'|trans }}</a></div>
    <h2>{{ sac('page')|trans }}</h2>
    <div id="contenu">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-body">
                        {% if tab_pe is empty %}
                            Aucune étiquette à imprimer. Retourner sur la <a href="{{ path('product_index') }}">liste des produits</a> pour définier les étiquettes produits
                        {% else %}
                            <a data-href="{{ path('label_delete_list') }}" class="btn btn-danger btn-sm" data-confirm="Etes vous certain de retirer tous les éléments de la liste des étiquettes à imprimer"><i class="fa fa-trash-alt"></i> Retirer tous les éléments de la liste</a>
                            <table class="table table-striped">
                                <tbody>
                                {% for pe in tab_pe %}
                                    <tr>
                                        <td >{{ pe.product.barcode }}</td>
                                        <td >{{ pe.product.label }}</td>
                                        <td>
                                            {{ bouton('voir',{'objet':'product','id':pe.product.id,'class_cplt':'btn-sm'}) }}
                                            <a href="{{ path('product_label_change',{id:pe.product.id}) }}" class="btn btn-sm btn-ajax-switch btn-primary" title="Ajouter/retirer à la liste des étiquettes à imprimer">
                                                <i class="fa fa-tag"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {% if tab_pe is not empty %}
                <div class="box">
                    <div class="box-body">
                        {% include('inclure/form.html.twig') with{'form':form_label} %}

                    </div>
                </div>
                {% endif %}
            </div>

        </div>



    </div>
{% endblock %}