chemin_root ='{{ path('homepage') }}';
chemin_web ='{{ app.request.basepath }}';



function getValeur(tab,id,champs){
    if(typeof(id)!= "undefined"){
        if(typeof(tab[id])!= "undefined"){

            if(typeof(champs)!= "undefined"){
                if(typeof(tab[id][champs])!= "undefined") {
                    return tab[id][champs];
                }
                else
                    return '';
            }
            else{
                return tab[id];}
        }
        else
            return '';
    }
    return tab;
}


function getCategory(id,champs){
    tab={{tab('category')|json_encode|raw}};
    return getValeur(tab,id);
}

function getTax(id,champs){
    tab={{tab('tax')|json_encode|raw}};
    return getValeur(tab,id);
}

function getLocation(id,champs){
    tab={{location()|json_encode|raw}};
    return getValeur(tab,id);
}
