{% block sujet %}
    {{ prefixe_sujet }} {{ transaction.type }} : Paiement en attente
{% endblock %}

{% block contenu %}

    <h3>Bienvenue {{ individu.civilite }} {{ individu.nomFamille }} {{ individu.prenom }}</h3>

    {% if inscription %}

        <p>Votre inscription {% if don %} et don ont bien été enregistrés{% else %} a bien été enregistrée {% endif %} , nous attendons votre {{ mode_paiement }}  de {{ transaction.montant }}€ pour valider.</p>
    {% else %}
        <p>Votre paiement de {{ transaction.montant }}€ a bien été enregistré, nous attendons votre {{ mode_paiement }} pour le valider.</p>

    {% endif %}

    {% if mode_paiement =='cheque'  %}
    <p>
        Le chèque est à envoyer à l'adresse suivante :    </p>

        <p>
            {{ entite_nom }}<br/>
            {{ entite_adresse }}<br/>
            {{ entite_codepostal }} {{ entite_ville }}
    </p>

    <p>Au dos du chèque, inscrivez le numéro de transaction : #{{ transaction.numero }} </p>
    {% endif %}
    {% if mode_paiement =='virement'  %}
        <p>

            Le virement est à effectuer sur le compte :<br/>

            <ul>
                <li>Bénéficiaire : « {{ entite_nom }} »</li>
                <li>Banque : {{ banque_nom }} - {{ banque_adresse }}</li>
                <li>IBAN : {{ iban }}</li>
                <li>BIC : {{ bic }}</li>
            </ul>
        </p>
        <p>

            pour un montant de : {{ transaction.montant }} €
        </p>
        <p>Référence  : {{ individu.nomFamille }} # {{ individu.prenom }} # {{ transaction.numero }} </p>

    {% endif %}



    <p>Une fois votre {{ mode_paiement }} réceptionné, nous vous enverrons un courriel de notification.</p>

    <p>Cordialement,</p>

    {% include('signature.html.twig') %}

{% endblock %}