{% block sujet %}
    {{ prefixe_sujet }} Merci pour votre don
{% endblock %}

{% block contenu %}
    <p><strong>Merci {{ individu.civilite }} {{ individu.nomFamille }} {{ individu.prenom }},</strong></p>

    <p>
        Votre paiement de {{ transaction.montantRegle }}€ a bien été enregistré.
    </p>

    <p>
        Cordialement,
    </p>

    {% include('signature.html.twig') %}


{% endblock %}