{% block sujet %}
    {{ prefixe_sujet }} Test de l'envoi d'email
{% endblock %}

{% block contenu %}
    <p>L'envoi d'email semble fonctionner à merveille <strong> YESS!!</strong></p>
    <p>Il est parti du serveur à {{ date.format('H:i:s') }}</p>

{% endblock %}