{% extends 'base'~(layout??'')~'.html.twig' %}

{% block breadcrumb %}{% endblock %}
{% block menu_page_droite %}
    <a href="{{ path('product_correction_prix_de_masse') }}" class="btn btn-primary">{{ 'Adjust all price'|trans }}</a>
    <a href="{{ path('product_index') }}" class="btn btn-secondary">{{ 'Back to the products list'|trans }}</a>
{% endblock %}


{% block content %}
    {{ layout_cplt() }}

    {% if not pdf %}
        <div id="contenu">
        <div class="float-right">

        </div>
        <div class="row">

              <!-- Colonne principal-->
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 bon_de_commande">
                <div class="box">
                    <div class="box-body">
        <div class="btn-group float-right">{% set args_temp = args|merge({'format':'pdf'}) %}
        </div>

        <input type="checkbox" id="petit_code" name="petit_code" value="10000" {% if args['petit_code']> '0' %}checked="checked"  {% set args_temp = args|merge({'petit_code':''}) %}{% else %}  {% set args_temp = args|merge({'petit_code':'10000'}) %}{% endif %} onchange="redirection('{{ path('productfrom_listing',args_temp)}}');" /><label for="petit_code">Afficher les petits codes</label>
        <input type="checkbox" id="vrac" name="vrac" value="1" {% if args['vrac']> '0' %}checked="checked"  {% set args_temp = args|merge({'vrac':''}) %}{% else %}  {% set args_temp = args|merge({'vrac':'1'}) %}{% endif %} onchange="redirection('{{ path('productfrom_listing',args_temp)}}');" /><label for="vrac">Afficher uniquement les produits vendu en vrac</label>

        <input type="checkbox" id="produit_inactif" name="produit_inactif" value="1" {% if args['inactif']== 1 %}checked="checked" {% set  args_temp= args|merge({'inactif':''}) %}{% else %}  {% set args_temp = args|merge({'inactif':'1'}) %}{% endif %} onchange="redirection('{{ path('productfrom_listing',args_temp)}}')" /><label for="produit_inactif">Afficher uniquement les produits actifs</label>
    {% endif %}
    <h3> Liste des produits</h3>
    {% for cat in tab_cat %}
    {% if cat.nb >0 %}
            <div class="cat_niv{{ cat.niveau }}">{{ cat.label }} ({{ cat.nb }})</div>
                    {% set tab_produit_cat = tab_produit[cat.id]??[]  %}
                    <table class="table">
                        {% for produit in tab_produit_cat %}
                            <tr id="productline{{ produit.id }}">

                                <td class="td60 text-left"><a href="{{ path('product_show',{'id':produit.id}) }}"><small>{{ produit.barcode }}</small> - {{ produit.label|upper }}</a></td>
                                <td  class="td10">
                                    {{ contenance_affichage(produit.contenance,produit.contenance_unite) }}
                                </td>
                                <td class="td10">
                                  {{ produit.prix_achat }} {{ currency_symbol }}
                                </td>
                                {% if produit.product_from is defined %}
                                <td class="td60 text-left">
                                    <a href="{{ path('product_show',{'id':produit.product_from.id}) }}">
                                    {{ produit.product_from.barcode }} {{ produit.product_from.label|upper }}
                                    </a>
                                </td>
                                <td  class="td10">
                                    {{ contenance_affichage(produit.product_from.contenance,produit.product_from.contenance_unite) }}
                                </td>
                                <td class="td10">
                                    {{ produit.product_from.prix_achat }} {{ currency_symbol }}
                                </td>
                                    <td class="td10 etat" >
                                        {% if produit.contenance > 0  %}
                                        {% set multiplicateur = produit.product_from.contenance / produit.contenance %}
                                        {% if multiplicateur > 0  %}
                                            {% set calcul_prix_achat =  produit.product_from.prix_achat / multiplicateur  %}
                                        {% if calcul_prix_achat|round(2) == produit.prix_achat %}
                                            <span class="text-success">Prix OK : {{ calcul_prix_achat|format_currency('EUR') }}</span>
                                        {% else %}
                                            <span class="badge badge-danger"><i class="fa fa-exclamation-triangle"></i> Prix Erreur : </span>
                                        <span class="text-danger">
                                           {{ produit.prix_achat|format_currency('EUR')}} au lieu de {{ calcul_prix_achat|format_currency('EUR') }}
                                        </span>
                                            <a href="{{ path('product_correction_prix',{'id':produit.id}) }}" class="btn btn-sm btn-primary ajax-remplace" data-cible="#productline{{ produit.id }} .etat" >{{ 'Adjust price'|trans }}</a>

                                        {% endif %}
                                        {% else %}
                                            Il faut renseigner la contenance (Poid net ou litrage) du produit de référence
                                        {% endif %}
                                        {% else %}
                                            Il faut renseigner la contenance (Poid net ou litrage) du produit
                                        {% endif %}
                                    </td>

                                    {% else %}
                                    <td colspan="4" class="td60">
                                        <a href="{{ path('product_from',{'id':produit.id,'redirect':url_courante()}) }}" class="modal-form" title="Lier un produit">Rattacher à un produit</a>
                                    </td>
                                {% endif %}
                                {% if not pdf %}

                                {% endif %}
                            </tr>

                        {% endfor %}
                        </table>
    {% endif %}
    {% endfor %}
    {% if not pdf %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endif %}
{% endblock %}
