{% extends 'base'~layout_cplt()~'.html.twig' %}
 {% block breadcrumb %}
     <ol class="breadcrumb">
         <li>
             <a href="{{ path('accueil') }}"><i class="fa fa-home"></i> {{ 'accueil'|trans }}</a>
         </li>
         <li>
             <a href="{{ path('motgroupe') }}">{{ 'motgroupes'|trans }}</a>
         </li>
         <li>
             {{ 'mot'|trans }}
         </li>
     </ol>
 {% endblock %}
{% block content %}
    <div class="row">
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="box">
            <div class="box-header">
            <span class="info-box-icon bg-green"><i class="fa fa-tag"></i></span>
                <div class="box-title">
                <span class="info-box-number">{{ objet_data.IdMot }}</span>
                <span class="info-box-text">{{ objet_data.nom }}</span>
                </div>
            </div>
            <div class="box-body">
                <div class="float-right">
                    <div class="btn-group-vertical" role="group">
                        {{ bouton('modifier', { 'id_mot':objet_data.idMot,'class_cplt':'modal-form' }) }}
                        {{ bouton('supprimer',{ 'id_mot':objet_data.idMot }) }}
                        {% set titre = 'mot_fusion'|trans~' : '~objet_data.nom~' '~objet_data.idMot~'avec'|trans %}
                        {{ bouton('fusion',{'action':'fusionner','id_mot':objet_data.idMot,'title':titre,'redirect':url_courante(),'class_cplt':'force-tooltip'}) }}
                    </div>
                </div>
                {% set motgroupe_nom =  tab('motgroupe.'~objet_data.motgroupe.IdMotgroupe) %}
                <dl class="dl-horizontal descriptif">

                    <dt>{{ 'nomcourt'|trans }} :</dt>
                    <dd>{{ objet_data.Nomcourt }}</dd>
                    <dt>{{ 'descriptif'|trans }} :</dt>
                    <dd>{{ objet_data.Descriptif }}</dd>
                    {#<dt>{{ 'texte'|trans }} :</dt>#}
                    {#<dd>{{ objet_data.Texte }}</dd>#}
                    <dt>{{ 'motgroupe'|trans }} :</dt>
                    <dd>
                        <a href="{{ path('motgroupe') }}#motgroupe{{ objet_data.motgroupe.IdMotgroupe }}">
                            {{ objet_data.motgroupe.IdMotgroupe }} - {{ tab('motgroupe.'~objet_data.motgroupe.nom~'.nom') }}
                        </a>
                    </dd>

                </dl>
            </div>
        </div>
        <div class="box box-secondary informations">
            <div class="box-header">
                <h5> {{ 'information'|trans }} </h5>
            </div>
            <div class="box-body">
            <dl class="dl-horizontal">
                <dt>{{ 'creation'|trans }}:</dt>
                <dd>{{ objet_data.createdAt|date('d/m/Y') }}
                    {#par {{ objet_data.getQuiCree|getNomIndividu }}#}
                </dd>
                {% if objet_data.createdAt!=objet_data.updatedAt %}
                    <dt>{{ 'modification'|trans }}:</dt>
                    <dd>{{ objet_data.updatedAt|date('d/m/Y') }}
                        {#par {{ objet_data.getQuiModifie|getNomIndividu }}#}
                    </dd>
                {% endif %}
            </dl>
        </div>
        </div>
    </div>
    <div id="contenu" class="col-md-8">
        {% for objet_bloc in tab_objet_en_lien %}
            {% include('inclure/table_bloc.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable[objet_bloc]} only %}
        {% endfor %}
    </div>
    </div>
{% endblock %}
